.about {
  &:after {
    @extend %devider;
    margin-top: 44px;
  }

  &__photo {
    margin: 9px 26px;
    max-width: 100%;
  }

  h2 {
    text-align: center;
    margin: 76px 0 46px;
  }

  &__desc {
    &:after {
      @extend %text-devider;
      background-color: $bg-main;
    }
  }

  &__name {
    @extend %font-main-regular;
    @include rem-font-size(18);
    color: $text-black;
    margin-bottom: 11px;
    margin-top: 3px;
  }

  &__sign {
    margin: -57px 41px 0;
  }
}

@include media-breakpoint-down(md) {
  .about {
    h2 {
      margin-top: 54px;
    }

    &__photo {
      margin: 0;
      max-width: 128px;
      margin-bottom: 28px;
    }

    &__sign {
      margin: 0;
      max-width: 168px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .about {
    h2 {
      margin: 40px 0 20px;
    }

    &:after {
      margin-top: 23px;
    }

    &__desc {
      @include rem-line-height(24);
    }
  }
}
