.advantages {
  padding: 100px 0;

  &__item {
    padding: 0 22px;
  }

  &__title {
    @extend %font-main-bold;
    text-transform: uppercase;
    margin: 28px 0 21px;

    &:after {
      content: '';
      display: block;
      margin: 23px auto 0;
      width: 30px;
      height: 3px;
      background-color: $bg-main;
    }
  }

  &__desc {
    color: $text-gray;
    margin-bottom: 0;
  }
}