.before-after-menu {
  h2 {
    text-align: center;
    margin: 40px 0 54px;
  }

  .slider-menu {
    margin-bottom: 30px;
  }

  .list-item {
    &__title {
      margin-top: 26px;
    }

    &__img-wrap {
      max-width: 170px;
    }

    &__title {
      margin-top: 22px;

      a {
        @include rem-font-size(16);
        @include rem-line-height(28);
      }
    }
  }
}
