.blog {
  margin: 80px 0 132px;

  &__btn {
    margin-top: 16px;
  }
  .link--arrow {
    color: $text-gray;
    transition: $control-elem-transition;

    &:hover {
      text-decoration-color: transparent;
      color: $text-black;
    }
  }
}

@include media-breakpoint-down(md) {
  .blog {
    margin: 50px 0 62px;

    &__btn {
      margin-top: -20px;
    }
  }
}
@include media-breakpoint-down(sm) {
  .blog {
    margin: 40px 0 52px;

    &__btn {
      margin-top: 0;
    }
  }
}
