.tpl {
  background-color: #e9e9e9;;
}
.btn {
  display: inline-block;
  border-radius: 31.5px;
  padding: 26px 35px;
  @include rem-font-size(14);
  @include rem-line-height(14);
  color: #fff;
  background-color: $bg-main;
  text-transform: uppercase;
  @extend %font-main-bold;
  cursor: pointer;
  transition: $control-elem-transition;
  box-shadow: 0px 3px 29.12px 2.88px rgba(196, 71, 57, 0.45);

  &:hover, &:active, &.active {
    background-color: $bg-main-darken;
    color: #fff;
    text-decoration: none;
  }

  &--small {
    padding: 17px 20px;
  }

  &--outline {
    background-color: transparent;
    padding: 22px 31px;
    border: 2px solid $bg-main;
    box-shadow: none;
    &:hover {
      background-color: $bg-main;
    }
    &:active, &.active {
      border: 2px solid $bg-main-darken;
      background-color: $bg-main-darken;
    }
  }

  &--white {
    border-color: #fff;

    &:hover {
      border-color: $bg-main;
    }

  }

  &--black {
    color: $text-black;
  }
}