.faq-page {
  padding: 76px 0;
  position: relative;
  overflow-x: hidden;

  &:before {
    content: '';
    position: absolute;
    top: 270px;
    right: -226px;
    background: url(../img/main-leaf-1.png) left center/cover;
    width: 362px;
    height: 356px;
    transform: rotateZ(-96deg) rotateY(-180deg);
  }

  h2 {
    text-align: center;
    margin-bottom: 49px;
  }

  &__question {
    display: block;
    position: relative;
    padding-left: 38px;
    margin-bottom: 40px;

    &:not(.collapsed)[aria-expanded='true'] {
      font-weight: bold;
      color: #000;
    }

    &:after {
      @include pseudo(8px, 8px);
      position: absolute;
      left: 0px;
      top: 8px;
      background-color: $bg-main;
      border-radius: 50%;
    }
  }

  &__ansver {
    background: #f4f4f4 url(../img/collapse-bg.jpg) center top / cover;
    @extend %font-main-regular;
    margin: -12px 0 47px;
    position: relative;

    &:before {
      position: absolute;
      top: -20px;
      left: 50%;
      transform: translateX(-50%);
      content: '';
      border: 11px solid transparent;
      border-bottom: 10px solid #f6f6f6;;
      display: block;
      width: 0;
      height: 0;
    }

    p {
      padding: 32px 39px;
      color: #000;
      margin: 0;
    }
  }

  .link {
    margin: 30px auto;
  }
}

@include media-breakpoint-down(md) {
  .faq-page {
    padding: 46px 0;

    &:before {
      display: none;
    }

    h2 {
      margin-bottom: 29px;
    }

    &__question {
      @include rem-font-size(14);
      @include rem-line-height(20);
      margin-bottom: 24px;
      padding-left: 30px;
    }

    &__ansver {
      margin: -5px 0 27px;

      p {
        padding: 20px 30px;
      }
    }

    .link {
      margin: 10px auto;
    }
  }
}
