.content {
  padding: 76px 0;

  h3 {
    margin: 22px 0;

    &:first-child {
      margin-top: 0;
    }
  }

  ul {
    @extend %list-style;
  }

  img {
    margin: 17px 0;
    max-width: 100%;
  }

  p {
    margin: 16px 0;
  }

  hr {
    @extend %devider;
    border: 0;
    margin: 40px 0;
  }

  figure {
    margin: 42px -5px;
    max-width: 100%;

    img {
      width: calc(25% - 10px);
      margin: 0 5px;
    }
  }

  figure.figure-col-2 {
    img {
      width: calc(50% - 10px);
      margin: 0 5px;
    }
  }

  blockquote {
    @extend h3;
    padding: 38px 38px 38px 126px;
    background: #f4f4f4 url(../img/collapse-bg.jpg) center top / cover;
    text-transform: uppercase;
    color: #000;
    margin: 30px 0;
    position: relative;

    &:before {
      @include pseudo(36px, 27px);
      background: url(../img/icons/icon-quote.png) center no-repeat/contain;
      position: absolute;
      top: 45px;
      left: 48px;
      margin: auto;
    }
  }
}

.video-block {
  position: relative;

  &:before {
    @include pseudo(80px, 80px);
    background: url(../img/icons/video-icon-play.png) center no-repeat/contain;
    position: absolute;
    z-index: 6;
    cursor: pointer;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    filter: grayscale(1) brightness(2);
    transition: 0.3s ease;
  }

  &:hover:before {
    filter: grayscale(0) brightness(1);
  }
}

.page-nav {
  text-align: center;
  padding: 10px 0 80px;

  a {
    margin: 0 14px;
  }
}

@include media-breakpoint-down(md) {
  .content {
    padding: 46px 0;

    h3 {
      margin: 18px 0;
    }

    img {
      margin: 14px 0;
    }

    p {
      margin: 13px 0;
    }

    hr {
      margin: 30px 0;
    }

    figure {
      margin: 32px -5px;
    }
  }

  .page-nav {
    padding: 0 0 60px;

    a {
      margin: 0 12px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .content {
    padding: 21px 0;

    h3 {
      margin: 15px 0;
    }

    img {
      margin: 12px 0;
    }

    p {
      margin: 12px 0;
    }

    hr {
      margin: 25px 0;
    }

    figure {
      margin: 28px -5px;

      img {
        width: calc(50% - 10px);
        margin-bottom: 10px;
      }
    }

    figure.figure-col-2 {
      img {
        width: 100%;
        margin-bottom: 10px;
      }
    }

    blockquote {
      padding: 23px 18px 23px 66px;

      &:before {
        width: 26px;
        top: 20px;
        left: 21px;
      }
    }
  }

  .page-nav {
    padding: 0 0 40px;
    display: flex;
    justify-content: space-around;

    a {
      margin: 0 10px;
    }
  }
}
