.footer {
  background: #f5f5f5 url(../img/main-bg.jpg) center 80px / cover;
  overflow: hidden;

  &__callback {
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;

    &:before {
      @extend %devider;
    }

    &:after {
      @extend .leaf, .leaf--2;
      bottom: -60px;
      left: -140px;
    }

    .container {
      padding: 20px 0 28px;
    }

    p {
      margin: 0 20px;
      @include rem-font-size(18);
    }
  }

  &__tel {
    @include rem-font-size(22);
    color: $text-black !important;
    font-weight: bold;
    text-decoration: none;
    display: block;
    position: relative;
    padding-left: 39px;
    margin: 0 20px;

    &:before {
      width: 23px;
      height: 24px;
      display: block;
      background: url(../img/icons/footer-icon-phone.png);
      content: '';
      position: absolute;
      left: 0;
      top: 2px;
    }
  }

  &__nav {
    padding: 55px 0 38px;
    overflow: hidden;

    .container {
      position: relative;

      &:after {
        @extend .leaf, .leaf--1;
        right: -34px;
        bottom: -141px;
        transform: scale(0.84);
      }
    }

    &-item a {
      color: $text-black;
      cursor: default;
      margin-bottom: 26px;
      display: inline-block;

      &:hover {
        color: $text-black;
        text-decoration: none;
      }
    }

    &-childs {
      .nav-link {
        padding: 1px 0;
        color: #666666;
        border-bottom: 1px #c5c5c5 solid;
        line-height: 14px;
        margin-bottom: 20px;
        transition: 0.1s;
        display: inline-block;

        &:hover {
          color: $bg-main;
          border-color: transparent;
        }
      }
    }
  }

  &__address {
    background: #fff;
    padding: 35px 0 31px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

    h5 {
      margin-bottom: 16px;
    }

    p {
      @include rem-font-size(14);
      margin: 0;
    }
  }

  &__logo {
    display: block;
    width: 180px;
    height: 127px;
    background: url(../img/header-logo.png) center/cover;
    margin-top: -35px;
  }

  &__copy {
    padding: 20px 0;

    .social a {
      margin-left: 0;
      margin-right: 15px;
    }

    a {
      text-decoration: underline;
    }

    p {
      @include rem-font-size(14);
      margin: 0;
    }
  }
}
