.footer {
  background: #f5f5f5 url(../img/main-bg.jpg) center 50px / cover;
  overflow: hidden;
  // background-attachment: fixed;

  &__callback {
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;

    &:before {
      @extend %devider;
    }

    &:after {
      @extend .leaf, .leaf--2;
      bottom: -60px;
      left: -140px;
    }

    .container {
      padding: 20px 0 28px;
    }

    p {
      margin: 0 20px;
      @include rem-font-size(18);
    }

    .btn {
      margin: 0 20px;
      white-space: nowrap;
    }
  }

  &__tel {
    @include rem-font-size(22);
    color: $text-black !important;
    font-weight: bold;
    text-decoration: none;
    display: block;
    position: relative;
    padding-left: 39px;
    margin: 0 20px;
    white-space: nowrap;

    &:before {
      width: 23px;
      height: 24px;
      display: block;
      background: url(../img/icons/footer-icon-phone.png) center
        no-repeat/contain;
      content: '';
      position: absolute;
      left: 0;
      top: 2px;
    }
  }

  &__nav {
    padding: 55px 0 38px;
    overflow: hidden;

    .container {
      position: relative;

      &:after {
        @extend .leaf, .leaf--1;
        right: -34px;
        bottom: -141px;
        transform: scale(0.84);
      }
    }

    &-item a {
      color: $text-black;
      cursor: default;
      margin-bottom: 26px;
      display: inline-block;
      text-decoration: none;
      border-color: transparent;

      &:hover {
        color: $text-black;
        text-decoration: none;
        border-color: transparent;
      }
    }

    &-childs {
      .col-6 {
        margin-bottom: 12px;
      }

      .nav-link {
        padding: 1px 0;
        color: #666666;
        // border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.2);
        text-decoration: none;
        line-height: 20px;
        margin-bottom: 20px;
        transition: 0.1s;
        display: inline;

        &:hover {
          color: $bg-main;
          border-color: transparent;
          box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
          text-decoration: none;
        }
      }
    }
  }

  &__address {
    background: #fff;
    padding: 35px 0 25px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);

    h5 {
      margin-bottom: 16px;
    }

    p {
      @include rem-font-size(14);
      margin: 0;
      line-height: 1.6;
    }
  }

  &__logo {
    display: block;
    width: 180px;
    height: 127px;
    background: url(../img/header-logo.png) left top no-repeat/contain;
    margin-top: -35px;
  }

  &__copy {
    padding: 20px 0;

    .social {
      margin-left: -7px;
    }

    a {
      text-decoration: underline;
    }

    p {
      @include rem-font-size(14);
      margin: 0;
    }
  }
}

section:last-of-type {
  &:after {
    background: transparent;
  }
}

@include media-breakpoint-down(md) {
  .footer {
    &__callback:after {
      display: none;
    }

    &__nav {
      padding: 37px 0 14px;

      .container {
        &:after {
          right: -124px;
          bottom: -171px;
          transform: scale(0.64);
        }
      }

      a {
        margin-bottom: 12px;
      }
    }

    .nav-link {
      margin-bottom: 15px;
    }

    &__copy {
      p,
      a {
        @include rem-font-size(12);
        @include rem-line-height(12);
      }
    }

    &__address {
      padding: 26px 0;
    }

    &__logo {
      height: 97px;
      margin-top: -26px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .footer {
    &__tel {
      margin-top: 9px;
      margin-bottom: 9px;
      padding-left: 30px;
      @include rem-font-size(18);

      &:before {
        width: 16px;
        height: 22px;
      }
    }

    &__callback {
      p {
        @include rem-font-size(14);
      }
      .btn {
        margin-top: 15px;
      }
    }

    &__nav {
      padding-bottom: 28px;

      a {
        margin-bottom: 0;
        @include rem-font-size(14);
      }

      .container {
        &:after {
          bottom: -241px;
        }
      }
    }

    &__nav-item a {
      border-bottom: 1px solid;
      line-height: 1.3;

      &:hover,
      &.active {
        color: $bg-main;
        text-decoration: none;
      }
    }

    &__nav-items:after {
      @include text-devider;
      margin: 17px 0 24px 15px;
      width: 40px;
      background: $bg-main;
    }

    &__address {
      padding: 26px 0 5px;

      h5 {
        & + p {
          margin-bottom: 5px;

          & + p {
            margin-bottom: 25px;
          }
        }
      }

      p {
        @include rem-font-size(12);
      }
    }

    &__logo {
      margin-top: 0;
    }

    &__nav-childs:not(.active) {
      display: none;
    }

    &__copy {
      .col-6:nth-of-type(3),
      .col-6:nth-of-type(4) {
        margin-bottom: 10px;
      }
    }

    .nav-link {
      margin-bottom: 9px;
      color: $text-black;
    }
  }
}
