.gallery {
  .row {
    margin-left: -5px;
    margin-right: -5px;
  }

  &__wrap {
    overflow: hidden;
  }

  &__item {
    position: relative;
    padding: 5px;
  }

  &__img {
    width: 100%;
  }

  h2 {
    margin: 100px 0 70px;
  }
  &__btn {
    text-align: center;
    padding: 60px 0 100px;
  }

  &__hover {
    opacity: 0;
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    transform: scale(0);
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transition: $control-elem-transition;
    cursor: pointer;

    :hover > & {
      opacity: 0.97;
      transform: scale(1);
    }
  }
}

#lg-download {
  display: none;
}
