.gallery-document {
  padding: 80px 0;
  background-image: url('../img/main-bg.jpg');
  background-size: cover;
  background-position: center;
  
  h2 {
    text-align: center;
    margin: 0 0 50px;
  }
}