.gallery {
  .row {
    margin-left: -5px;
    margin-right: -5px;
  }

  &__wrap {
    overflow: hidden;
  }

  &__item {
    position: relative;
    padding: 5px;

    &--desc {
      margin-bottom: 80px;
    }
  }

  &__img {
    width: 100%;
  }

  h2 {
    margin: 100px 0 70px;
  }

  &__btn {
    text-align: center;
    margin: 60px 0 100px;
  }

  &__item-wrap {
    display: block;
    position: relative;
  }

  &__link-wrap {
    margin-top: 27px;
  }

  &__desc {
    @extend %font-main-regular;
    @include rem-font-size(14);
    @include rem-line-height(26);
    color: $text-black;
  }

  &__hover {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 20px;
    display: flex;
    transform: scale(1.1);
    opacity: 0;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transition: 0.3s ease;
    background-image: url('../img/icons/gallery-icon-hover.png');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    :hover > & {
      opacity: 0.97;
      transform: scale(1);
    }
  }

}

#lg-download {
  display: none;
}

.lg-backdrop {
  background-color: rgba(0, 0, 0, 0.8);
}

@include media-breakpoint-down(md) {
  .gallery {
    h2 {
      margin: 40px auto 28px;
      width: 90%;
    }

    &__btn {
      margin: 30px 0 40px;
    }

    &__item:nth-of-type(7),
    &__item:nth-of-type(8) {
      display: none;
    }
  }
}

@include media-breakpoint-down(sm) {
  .gallery {
    h2 {
      margin: 40px auto 28px;
      width: 90%;
    }

    &__btn {
      margin: 30px 0 40px;
    }
  }
}
