.header-page {
  height: 400px;
  padding-top: 194px;
  box-shadow: inset 0px -15px 15px -15px rgba(0, 0, 0, 0.1);
  background-color: #f7f7f7;

  h2 {
    @include rem-font-size(24);
    max-width: 400px;
  }

  &__breadcrumbs {
    ol {
      background: transparent;
      padding: 0;
      margin-bottom: 11px;

      li {
        &:before {
          @include rem-font-size(14);
          color: $text-gray !important;
          padding: 0 3px !important;
        }

        a {
          @include rem-font-size(14);
          color: $text-gray;
        }
      }
    }
  }

  &--bg-price {
    background: url(../img/header-page/header-page-prices.jpg) left top / cover;
  }

  &--bg-about {
    background: url(../img/header-page/header-page-about.jpg) left top / cover;
  }

  &--bg-team {
    background: url(../img/header-page/header-page-team.jpg) left top / cover;
  }

  &--bg-jobs {
    background: url(../img/header-page/header-page-jobs.jpg) left top / cover;
  }

  &--bg-docs {
    background: url(../img/header-page/header-page-docs.jpg) center top / cover;
  }

  &--bg-news {
    background: url(../img/header-page/header-page-news.jpg) center top / cover;
  }

  &--bg-article {
    background: url(../img/header-page/header-page-article.jpg) left top / cover;
  }

  &--bg-blog {
    background: url(../img/header-page/header-page-blog.jpg) left top / cover;
  }

  &--bg-contacts {
    background: url(../img/header-page/header-page-contacts.jpg) center top /
      cover;
  }

  &--bg-services {
    background: url(../img/header-page/header-page-services.jpg) left top /
      cover;
  }

  &--bg-service {
    background: url(../img/header-page/header-page-service.jpg) center top /
      cover;
  }

  &--bg-faq {
    background: url(../img/header-page/header-page-faq.jpg) left top / cover;
  }

  &--bg-reviews {
    background: url(../img/header-page/header-page-reviews.jpg) left top / cover;
  }

  &--bg-before-after {
    background: url(../img/header-page/header-page-before-after.jpg) center top /
      cover;
  }

  &--bg-photo-gallery {
    background: url(../img/header-page/header-page-photo-gallery.jpg) left top /
      cover;
  }

  &--bg-video-gallery {
    background: url(../img/header-page/header-page-video-gallery.jpg) left top /
      cover;
  }

  &--bg-solutions {
    background: url(../img/header-page/header-page-solutions.jpg) left top /
      cover;
  }
}

@include media-breakpoint-down(md) {
  .header-page {
    height: 350px;
    padding-top: 155px;

    &__breadcrumbs {
      ol {
        margin-bottom: 6px;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .header-page {
    height: 325px;
  }
}
