.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  &__logo {
    display: block;
    width: 200px;
    height: 139px;
    background: url(../img/header-logo.png) center/cover;
    transition: $header-transition;
  }

  &__nav {
    margin: 23px auto 0 54px;
    transition: $header-transition;

    .nav-item {
      position: relative;

      &:hover {
        ul {
          visibility: visible;
          opacity: 1;
          transition-delay: 0s;
        }
      }

      &:hover,
      &.active {
        > a:after {
          background: $bg-main;
        }
      }

      > a {
        @extend %font-main-bold;
        text-transform: uppercase;
        color: $text-black;
        margin-right: 0.3em;

        &:after {
          width: 100%;
          height: 3px;
          margin-top: 2px;
          background: transparent;
          content: '';
          display: block;
          border-radius: 2px;
          transition: $header-transition;
        }
      }
    }

    .nav-child {
      > a:before {
        width: 10px;
        height: 7px;
        content: '';
        display: block;
        position: absolute;
        right: 2px;
        top: 17px;
        background: url(../img/icons/nav-arrow-bottom.png);
      }
    }

    .nav ul {
      list-style: none;
      margin: 0;
      padding: 10px 0;
      position: absolute;
      top: 84px;
      background-color: #fff;
      filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.08));
      visibility: hidden;
      transition: visibility 0.3s, opacity 0.3s ease;
      opacity: 0;
      transition-delay: 0.15s;

      &:before {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 16px 16px 16px;
        border-color: transparent transparent #ffffff transparent;
        content: '';
        display: block;
        position: absolute;
        top: -16px;
        right: 0;
        left: 0;
        margin: auto;
      }

      li {
        a {
          white-space: nowrap;
          padding: 8px 30px;
          display: block;
          text-decoration: none;
          color: #666;
          @include rem-font-size(16);

          &:hover,
          &.active {
            background: $bg-main;
            color: #fff;
          }
        }
      }
    }
  }

  &__menu {
  }

  .social {
    margin: 20px 40px 0 0;
    transition: $header-transition;
  }

  &__btn-phone {
    width: 57px;
    height: 42px;
    margin-top: 25px;
    background: $bg-main url(../img/icons/header-icon-phone.png) center
      no-repeat;
    border-radius: 20px;
    transition: $header-transition;
  }

  &--scroll-state {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
    transition: $header-transition;
    background: #fff;

    .header__logo {
      width: 104px;
      height: 72px;
    }

    .header__nav {
      margin: 14px auto 0 53px;
    }

    .social {
      margin-top: 10px;
    }

    .header__btn-phone {
      margin-top: 15px;
    }
  }
}
