.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;

  &__logo {
    display: block;
    width: 200px;
    height: 139px;
    background: url(../img/header-logo.png) center/cover;
    transition: $header-transition;
  }

  &__nav {
    margin: 23px auto 0 54px;
    transition: $header-transition;

    &-open {
      padding: 15px;
      background: url(../img/icons/header-icon-nav-open.png) center no-repeat;
      border: 0;
      cursor: pointer;
      display: none;
      outline: 0 !important;
    }

    &-close {
      @extend .header__nav-open;
      display: block;
      background: url(../img/icons/header-icon-nav-close.png) center no-repeat;
      transform: translate(5px, -4px);
    }

    &-title {
      padding: 26px 33px 19px;
      justify-content: space-between;
      align-items: center;
      display: none;
      flex-wrap: wrap;

      &:after {
        @extend %devider;
        width: 100%;
        transform: translateY(13px);
      }
    }

    &-prev {
      @extend %font-main-bold;
      @include rem-font-size(18);
      text-transform: uppercase;
      color: $text-black;
      background: transparent;
      border: 0;
      padding: 10px 10px 10px 0;
      outline: 0 !important;
      position: relative;

      &--arrow {
        padding-left: 22px;

        &:before {
          @include nav-icon-arrow-right(#000);
          background-size: contain;
          display: block;
          width: 11px;
          height: 15px;
          content: '';
          transform: translateY(4px) rotate(180deg);
          position: absolute;
          left: 0;
        }
      }
    }

    .nav-item {
      position: relative;
      display: none;

      &:hover {
        ul {
          visibility: visible;
          opacity: 1;
          transform: translateY(0);
        }
      }

      &:hover,
      &.active {
        > a:after {
          width: 100%;
        }
      }

      > a {
        @extend %font-main-bold;
        text-transform: uppercase;
        color: $text-black;
        margin-right: 0.3em;

        &:after {
          @include pseudo(0%, 3px);
          margin-top: 2px;
          background: $bg-main;
          border-radius: 2px;
          transition: $header-transition;
        }
      }
    }

    .nav-child {
      > a:before {
        @include pseudo(10px, 7px);
        position: absolute;
        right: 2px;
        // top: 17px;
        transform: translateY(9px);
        background: url(../img/icons/nav-arrow-bottom.png);
      }
    }
  }

  .header__nav-child {
    list-style: none;
    margin: 0;
    padding: 10px 0;
    position: absolute;
    top: 84px;
    background-color: #fff;
    filter: drop-shadow(0px 1px 4px rgba(0, 0, 0, 0.08));
    visibility: hidden;
    transition: $header-transition;
    opacity: 0;
    transform: scale(1) translateY(-10px);
    transform-origin: top;
    z-index: 9;

    &:before {
      @include pseudo();
      border-style: solid;
      border-width: 0 16px 16px 16px;
      border-color: transparent transparent #ffffff transparent;
      position: absolute;
      top: -16px;
      right: 0;
      left: 0;
      margin: auto;
    }

    &:after {
      @include pseudo(100%, 45px);
      background: transparent;
      position: absolute;
      top: 0;
      transform: translateY(-100%);
      border-radius: 100% 100% 0 0;
    }

    li {
      a {
        white-space: nowrap;
        padding: 8px 30px;
        display: block;
        text-decoration: underline;
        color: #666;
        @include rem-font-size(16);
        transition: 0.1s;

        &:hover,
        &.active {
          background: $bg-main;
          text-decoration: none;
          color: #fff;
        }
      }
    }
  }

  &__menu {
  }

  .social {
    margin: 20px 34px 0 0;
    transition: $header-transition;
  }

  &__btn-phone {
    width: 57px;
    height: 42px;
    margin-top: 25px;
    background: $bg-main url(../img/icons/header-icon-phone.png) center
      no-repeat;
    border-radius: 20px;
    transition: $header-transition;
    position: relative;

    .header__block-phone {
      @extend .header__nav-child;
      right: -20px;
      white-space: nowrap;
      text-align: center;
      padding: 24px 9px !important;

      &:before {
        right: 32px !important;
        margin: 0 !important;
        left: auto !important;
      }

      &__number {
        @extend .footer__tel;
        @include rem-font-size(18, !important);
        margin-bottom: 12px !important;
        padding-left: 23px !important;

        &:before {
          background: url(../img/icons/header-icon-phone-red.png) left 3px
            no-repeat !important;
        }
      }
    }

    &:hover {
      background-color: $bg-main-darken;

      .header__block-phone {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  &--scroll-state {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
    transition: $header-transition;
    background: #fff;

    .header__logo {
      width: 104px;
      height: 72px;
    }

    .header__nav {
      margin: 14px auto 0 53px;
    }

    .social {
      margin-top: 10px;
    }

    .header__btn-phone {
      margin-top: 15px;
    }
  }
}

@include media-breakpoint-down(md) {
  .header {
    .container {
      position: relative;
    }

    &__logo {
      min-width: 144px;
      width: 144px;
      height: 100px;
    }

    &__nav {
      order: 3;
      margin: 30px 0 0 0;

      &-open {
        display: block;
      }

      &-title {
        display: flex;
      }

      .nav {
        position: absolute;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.08);
        background: #fff;
        right: -13px;
        top: 0;
        flex-direction: column;
        width: 100%;
        max-width: 375px;
        padding-bottom: 20px;
        overflow: hidden;
        opacity: 0;
        transform: translateY(-10px);
        transition: 0.3s ease;
        z-index: -1;

        > .nav-item {
          position: static;

          a {
            padding: 13px 33px;
            margin-right: 0;
            @include font-main-bold;
            text-transform: uppercase;
            color: $text-black;

            &:before {
              width: 11px;
              height: 16px;
              @include nav-icon-arrow-right(#c2c2c2);
              background-size: cover;
              transform: translate(-31px, 6px);
            }

            &:after {
              display: none;
            }

            &:hover,
            &.active {
              background: $bg-main;
              color: #fff;

              &:before {
                @include nav-icon-arrow-right(#fff);
              }
            }
          }

          &:hover,
          &.header__nav--child-open {
            ul {
              transform: translate(0, 111px);
              opacity: 1;
              visibility: visible;
            }
          }

          ul {
            left: 0 !important;
            right: 0;
            top: 0;
            transform: translate(40px, 111px);
            padding: 0;
            filter: none;
            min-height: 330px;

            &:before,
            &:after {
              display: none;
            }
          }
        }
      }

      .header__nav--open {
        overflow: visible;
        opacity: 1;
        transform: translateY(0);
        z-index: 2;
      }

      &--open {
        .nav-item {
          position: static;
        }
      }
    }

    &__menu {
      width: 100%;
      justify-content: space-between;

      .social {
        margin-top: 15px;
        margin-left: 31px;
        margin-right: 30px;
      }
    }

    &__btn-phone {
      margin-right: 25px;
    }

    &--scroll-state {
      .header__logo {
        min-width: 104px;
        width: 104px;
        height: 72px;
      }

      .header__nav {
        margin: 23px 0 0 0;
      }
    }

    &--scroll-state {
      .header__menu {
        // I think designer mistake
        // justify-content: flex-end;
      }

      .header__nav {
        margin: 21px 0 0 0;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .header {
    &__menu {
      justify-content: flex-end;
    }

    &__btn-phone {
      margin-right: 15px;
    }

    .social {
      display: none !important;
    }
  }
}
