.hero {
  background: #f5f5f5 url(../img/main-bg.jpg) center top / cover;
  box-shadow: inset 0 118px 130px -35px rgba(255, 255, 255, 0.5),
    inset 0px -6px 15px -6px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;

  &--slider-load &__slider {
    opacity: 1 !important;
    transition: ease 1s;
  }

  .hero__slider,
  .lSSlideOuter,
  .lSSlideWrapper,
  .lslide,
  .lslide .container {
    height: 700px;
  }

  .lSPager {
    position: absolute !important;
    bottom: 46px;
    text-align: left !important;
    margin: auto !important;
    left: 0;
    right: 0;
    padding-left: 15px !important;

    .active a {
      background-color: $bg-second !important;
    }

    a {
      width: 12px !important;
      height: 12px !important;
      background: #fff !important;
      box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.18);
    }
  }

  .lslide:nth-child(1) img {
    transform: translateX(-98px);
  }

  .lslide:nth-child(3) img {
    transform: translateX(-78px);
  }

  .container {
    position: relative;
    overflow: auto;
  }

  &__img {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__title {
    margin-top: 228px;

    &:after {
      @extend %text-devider;
      margin: 30px 0;
    }
  }

  &__desc {
    margin-bottom: 76px;
  }

  .leaf--1 {
    left: -430px;
    top: -610px;
  }

  .leaf--2 {
    right: -310px;
    bottom: 0;
  }
}

@include media-breakpoint-down(md) {
  .hero {
    &__title {
      margin-top: 184px;
      @include rem-font-size(28);
      @include rem-line-height(40);
      width: 230px;
      margin-bottom: 71px;
    }

    &__desc {
      display: none;
    }

    .leaf--1 {
      right: -229px;
      left: auto;
      top: -434px;
      transform: rotate(-76deg);
    }

    .leaf--2 {
      right: 144px;
      bottom: auto;
      top: -716px;
      transform: rotate(-196deg) scale(0.59);
    }

    .hero__slider,
    .lSSlideOuter,
    .lSSlideWrapper,
    .lslide,
    .lslide .container {
      height: 645px;
      overflow: hidden;
    }

    .lslide img {
      transform-origin: bottom;
    }

    .lslide:nth-child(1) img {
      transform: translate(-44px, 33px) scale(0.83);
    }

    .lslide:nth-child(2) img {
      transform: translateX(170px) scale(0.8);
    }

    .lslide:nth-child(3) img {
      transform: translateX(0) scale(0.8);
    }
  }
}
