.list-item {
  width: 100%;

  &__inner {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  &__img-wrap {
    width: 100%;
    max-width: 200px;
  }

  &__img {
    display: block;
    width: 100%;
    padding-top: 100%;
    background-size: cover;
    margin: 0 auto;
    background-color: whitesmoke;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.028);
  }

  &__img {
    position: relative;
  }

  &__img-hover {
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 10px;
    background-color: $bg-main;
    background-image: url(../img/icons/gallery-icon-hover-white.png);
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(1.1);
    opacity: 0;
    transition: 0.3s ease;

    .list-item__img:hover & {
      transform: scale(1);
      opacity: 1;
    }
  }

  &__text {
    text-align: center;
  }

  &__title {
    margin: 36px 0 16px;

    a {
      @extend %font-main-regular;
      display: inline-block;

      &:hover {
        color: $bg-main;
        text-decoration: underline;
      }
    }
  }

  &--arrowed {
    .list-item {
      &__text {
        text-align: left;
      }

      &__title {
        display: inline-block;
        padding-left: 28px;
        background: url('../img/icons/link-arrow-right.png') left top 4px
          no-repeat;
        background-size: 18px;
        @include rem-font-size(16);
        @extend %font-main-regular;
      }

      &__desc {
        margin-left: 28px;
      }
    }
  }

  &--lined {
    .list-item {
      &__img-wrap {
        max-height: 150px;
        max-width: 150px;
      }

      &__title {
        &:after {
          @extend %text-devider;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }

  &--big {
    .list-item {
      &__img-wrap {
        max-width: 250px;
      }

      &__text {
        text-align: left;
      }
    }
  }

  &--square {
    margin-bottom: 36px;
    .list-item {
      &__inner {
        align-items: flex-start;
      }
      &__img-wrap {
        max-width: initial;
      }

      &__img {
        border-radius: 0;
        padding-top: 63%;
      }

      &__img-hover {
        border-radius: 0;
        background-color: #fff;
        background-image: url('../img/icons/gallery-icon-hover.png');
      }

      &__text {
        padding: 23px 0 25px;
        text-align: left;
      }

      &__title {
        margin: 13px 0 23px;
      }

      &__tags {
        span {
          @include rem-font-size(12);
          background-color: #f4f4f4;
          border-radius: 14px;
          padding: 3px 14px;
          margin: 10px 10px 0 0;
          display: inline-block;
        }
      }
    }
  }

  &--menu {
    .list-item {
      &__img-wrap {
        max-width: 170px;
      }

      &__text {
        text-align: left;
      }

      &__title a {
        @include rem-font-size(14);
        @include rem-line-height(24);
      }

      &__text {
        max-width: 170px;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .list-item {
    &--square {
      .list-item__title {
        margin: 3px 0 12px;
      }
      .list-item__text {
        padding: 10px 0 9px;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .list-item {
    margin-bottom: 25px;

    &--square {
      .list-item__title {
        margin: 3px 0 3px;
      }

      .list-item__tags span {
        padding: 0px 14px;
      }
    }
  }
}
