.list-item {
  width: 100%;

  &__inner {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  &__img-wrap {
    width: 100%;
    max-width: 200px;
  }

  &__img {
    display: block;
    width: 100%;
    padding-top: 100%;
    background-size: cover;
    margin: 0 auto;
  }

  &__img {
    position: relative;
  }

  &__img-hover {
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 10px;
    background-color: $bg-main;
    background-image: url(../img/icons/gallery-icon-hover-white.png);
    background-position: center;
    background-repeat: no-repeat;
    transform: scale(1.1);
    opacity: 0;
    transition: 0.3s ease;

    .list-item__img:hover & {
      transform: scale(1);
      opacity: 1;
    }
  }

  &__text {
    text-align: center;
  }

  &__title {
    margin: 36px 0 16px;

    & a:hover {
      color: $bg-main;
      text-decoration: underline;
    }
  }

  &--arrowed {
    .list-item {
      &__text {
        text-align: left;
      }

      &__title {
        display: inline-block;
        padding-left: 28px;
        background: url('../img/icons/link-arrow-right.png') left top 4px
          no-repeat;
        background-size: 18px;
        @include rem-font-size(16);
        @extend %font-main-regular;
      }

      &__desc {
        margin-left: 28px;
      }
    }
  }

  &--lined {
    .list-item {
      &__img {
        height: 150px;
        width: 150px;
      }

      &__title {
        &:after {
          @extend %text-devider;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }

  &--big {
    .list-item {
      &__img-wrap {
        max-width: 250px;
      }

      &__text {
        text-align: left;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .list-item {
    &__title {
      margin: 18px 0 14px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .list-item {
    margin-bottom: 25px;
  }
}
