.menu-block {
  margin: 40px 0;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item-wrap {
    margin: 9px 20px;
  }

  &__item {
    color: #666;
    text-decoration: underline;
    transition: $control-elem-transition;

    &:hover {
      color: #666;
      text-decoration-color: transparent;
    }

    &.active {
      margin: 0;
      @include rem-line-height(16);
      text-decoration: none;
      color: #000;
      display: inline-block;
      padding: 9px 28px;
      text-align: center;
      border: 2px solid $bg-main;
      border-radius: 20px;
    }
  }

  &:after {
    @extend %devider;
    margin-top: 40px;
    @include rem-font-size(14);
  }
}

@include media-breakpoint-down(md) {
  .menu-block {
    margin: 20px 0;

    &:after {
      margin-top: 14px;
    }

    &__item {
      @include rem-font-size(14);

      &-wrap {
        margin: 9px 13px;
      }
    }
  }
}
