.modal {
  &-body {
    padding: 35px 20px 49px;
  }

  &-dialog {
    transition: 0.3s !important;
    background: #fff;
  }

  &:not(.show) {
    .modal-dialog {
      opacity: 0;
    }
  }

  h2 {
    text-align: center;
    margin: 0 auto 25px;
    @include rem-font-size(20);
    @include rem-line-height(28);
  }

  p {
    text-align: center;
    margin: 5px auto 44px;
    width: 250px;
  }

  .btn {
    margin: 0 auto;
    display: block;
    min-width: 200px;
  }

  &-content {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    border: 0;
    background: transparent;
    border-radius: 2px;
    z-index: 2;
  }

  &-header {
    border: 0;
    display: block;
  }

  &-title {
    text-align: center;
  }

  .close {
    border: 0;
    cursor: pointer;
    outline: 0 !important;
    width: 30px;
    height: 30px;
    background: url(../img/icons/header-icon-nav-close.png) center no-repeat;
    position: absolute;
    right: 34px;
    top: 33px;
    margin: 0;
    padding: 0;
    z-index: 9;
  }

  &-backdrop {
    opacity: 0.8;
    transition: 0.3s ease;
  }

  form {
    textarea {
      height: calc(100% - 20px);
    }
  }

  &--col-1 {
    .modal-dialog {
      max-width: 610px;

      form {
        max-width: 390px;
        margin: 0 auto;

        label {
          margin-top: 17px;
          margin-bottom: 31px;
        }
      }
    }
  }

  &--col-2 {
    .modal-dialog {
      max-width: 822px;

      form {
        max-width: 600px;
        margin: 0 auto;

        label {
          margin-top: 17px;
          margin-bottom: 31px;
        }
      }
    }
  }

  &--leaf-1 {
    .modal-dialog {
      position: relative;

      &:after {
        @include pseudo(82px, 212px);
        background: url(../img/form-leaf-1.png) center no-repeat / contain;
        position: absolute;
        top: 12%;
        left: 0;
        z-index: 1;
      }
    }
  }

  &--leaf-2 {
    .modal-dialog {
      position: relative;

      &:before {
        @include pseudo(73px, 238px);
        background: url(../img/form-leaf-2.png) center no-repeat / contain;
        position: absolute;
        top: 36%;
        right: 0;
        z-index: 1;
      }
    }
  }

  &--leaf-3 {
    .modal-dialog {
      position: relative;

      &:before {
        @include pseudo(60px, 317px);
        background: url(../img/form-leaf-3.png) center no-repeat / contain;
        position: absolute;
        top: 26%;
        right: 0;
        z-index: 1;
      }
    }
  }

  &--leaf-4 {
    .modal-dialog {
      position: relative;

      &:before {
        @include pseudo(91px, 240px);
        background: url(../img/form-leaf-4.png) center no-repeat / contain;
        position: absolute;
        top: 42%;
        right: 0;
        z-index: 1;
      }
    }
  }

  .list {
    li {
      @include rem-font-size(14);
    }
  }
}

.employee-card {
  display: flex;

  &__img {
    width: 80px;
    height: 80px;
    background-size: cover;
    margin-right: 20px;
    border-radius: 50%;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.028);
  }

  &__info {
    h4 {
      margin-top: -5px;
      text-transform: none;

      &:after {
        @extend %text-devider;
        background: $bg-main;
        margin: 22px 0 11px;
      }
    }

    p {
      width: 100%;
      text-align: left;
      margin: 12px 0 0 0;
    }
  }

  &__devider {
    @extend %devider;
    width: 100%;
    margin: 23px 0 19px;
  }

  &__devider + .list {
    max-height: 50vh;
    overflow: auto;
  }
}
