.news-list {
  &__item {
    &:after {
      @include pseudo(0, 0)
      clear: both;
    }
  }
  
  &__img {
    height: 170px; 
    width: 170px;
    display: block;
    float: left;
    margin-right: 49px;
    margin-bottom: 60px;
    position: relative;
    z-index: 99;

    &:after {
      @include pseudo();
      margin: 10px;
      top: 0;right: 0;left: 0;bottom: 0;
      width: initial;
      height: initial;
      position: absolute;
      background: #fff url('../img/icons/gallery-icon-hover.png') center no-repeat;
      transition: $header-transition;
      transform: scale(1.1);
      opacity: 0;
    }

    &:hover:after {
      transform: scale(1);
      opacity: .9;
    }
  }

  &__title {
    margin: 7px 0;
  }

  &__desc {
    margin-bottom: 60px;
    p {
      @include rem-line-height(28)
    }
  }

  &--wide-image {
    .news-list {
      &__img {

      }
    }
  }
}

//mobile
// &__desc {
//   clear: both;
// }