.problems {
  padding: 80px 0 90px;

  h2 {
    margin: 0 0 60px;
    text-align: center;
  }

  &__img {
    width: 180px;
    height: 156px;
    margin: 0 auto;
  }
}

@include media-breakpoint-down(md) {
  .problems {
    padding: 60px 0 50px;

    h2 {
      margin: 0 0 30px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .problems {
    padding: 30px 0 30px;

    h2 {
      margin: 0 0 20px;
    }

    &__img {
      width: 109px;
      background-size: contain !important;
      height: 94px;
      margin-bottom: 20px;
    }
  }
}
