.services {
  position: relative;

  &__wrap {
    overflow: hidden;
  }

  .row {
    margin-left: -5px;
    margin-right: -5px;
  }

  &:after {
    @extend %devider;
    margin-top: 95px;
  }

  h2 {
    margin: 70px 0;
  }

  &__item {
    position: relative;
    cursor: pointer;
    padding: 5px;
  }

  &__img {
    position: relative;
    padding-top: 60%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 20px;
    padding: 30px;
    background-color: transparent;
    transition: ease 0.3s;

    :hover > & {
      background-color: #fff;
    }
  }

  &__title {
    &:after {
      @extend %text-devider;
      width: 0;
      margin: 18px 0;
      transition: 0.3s ease width;
    }

    :hover > .services__text & {
      &:after {
        width: 50px;
      }
    }
  }

  &__text-hover {
    opacity: 0;
    transition: $control-elem-transition;

    :hover > .services__text & {
      // display: block;
      opacity: 1;
    }
  }

  &__link {
    position: absolute;
    bottom: 30px;
    left: 30px;
  }

  &__item:last-child {
    & .services__img {
      background-color: $bg-main;
      background-size: 90%;
      background-position: right center;
    }

    img {
      margin: 30px 0 0 0;
    }

    & .services__title,
    & .services__desc,
    & .services__link {
      color: #fff;
    }

    :hover & .services__text {
      background-color: transparent;
    }

    & .services__title {
      &:after {
        @extend %text-devider;
        background-color: #fff;
      }
    }

    & .services__text-hover {
      opacity: 1;
    }
  }

  &__btn {
    text-align: center;
    margin: 30px 0 30px;
  }

  .leaf-container {
    position: static;
  }

  .leaf--1 {
    right: -60px;
    z-index: -1;
    top: -70px;
  }
}

@include media-breakpoint-down(lg) {
  .services {
    &__img {
      padding-top: 50%;
    }
  }
}

@include media-breakpoint-down(md) {
  .services {
    h2 {
      margin: 40px auto 27px;
    }

    h3 {
      @include rem-font-size(16);
      @include rem-line-height(24);
    }

    &:after {
      margin-top: 55px;
    }

    &__img {
      padding-top: 70%;
    }

    &__text {
      margin: 15px;
      padding: 20px 25px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .services {
    h3 {
      @include rem-font-size(14);
      @include rem-line-height(24);
    }

    &:after {
      margin: 16px 0;
    }

    &__link {
      position: static;
    }

    &__text {
      margin: 10px;
      padding: 20px 25px;
    }

    &__img {
      padding-top: 72%;
    }
  }
}
