.services {
  &__wrap {
    overflow: hidden;
  }

  .row {
    margin-left: -5px;
    margin-right: -5px;
  }

  &:after {
    @extend %devider;
    margin-top: 95px;
  }

  h2 {
    margin: 70px 0;
  }

  &__item {
    position: relative;
    cursor: pointer;
    padding: 5px;
  }

  &__img {
    position: relative;
    padding-top: 60%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__text {
    position: absolute;
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 20px;
    padding: 30px;
    background-color: transparent;
    transition: ease 0.3s;

    :hover > & {
      background-color: #fff;
    }
  }

  &__title {
    &:after {
      @extend %text-devider;
      width: 0;
      margin: 18px 0;
      transition: 0.3s ease width;
    }

    :hover > .services__text & {
      &:after {
        width: 50px;
      }
    }
  }

  &__text-hover {
    opacity: 0;
    transition: $control-elem-transition;

    :hover > .services__text & {
      // display: block;
      opacity: 1;
    }
  }

  &__link {
    position: absolute;
    bottom: 30px;
    left: 30px;
  }

  &__item:last-child {
    & .services__img {
      background-color: $bg-main;
      background-size: 90%;
      background-position: right center;
    }

    img {
      margin: 30px 0 0 0;
    }

    & .services__title,
    & .services__desc,
    & .services__link {
      color: #fff;
    }

    :hover & .services__text {
      background-color: transparent;
    }

    & .services__title {
      &:after {
        @extend %text-devider;
        background-color: #fff;
      }
    }

    & .services__text-hover {
      opacity: 1;
    }
  }

  &__btn {
    text-align: center;
    margin: 30px 0 30px;
  }
}
