.slider-menu {
  margin: 80px 0;
  &:after {
    @exnted %devider;
  }
  &__wrap {
    position: relative;
    max-width: 970px;
    margin: 0 auto;
  }

  &__slider {
    position: relative;
    z-index: 9;
  }
  &__navigation {
    margin: 0 -100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;bottom: 0;left: 0;right: 0;
  }

  &__next, &__prev {
    transform: translateY(-60px);
    width: 26px;
    height: 49px;
    background-image: url('../img/icons/slider-arrows.png');
    background-repeat: no-repeat;
    cursor: pointer;

    &:hover {
      background-position: center bottom;
    }
  }

  &__next {
    transform: rotate(180deg) translateY(60px);
  }
}