.slider-menu {
  margin: 33px 0;
  overflow: hidden;
  max-height: 390px;

  &:after {
    @exnted %devider;
  }

  &__wrap {
    position: relative;
    margin: 0 auto;
    padding: 0 65px;
  }

  &__slider {
    position: relative;
    z-index: 9;
  }

  &__navigation {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &__next,
  &__prev {
    transform: translateY(-45px);
    width: 26px;
    height: 49px;
    background: url('../img/icons/slider-arrows.png') center no-repeat / contain;
    cursor: pointer;
    filter: grayscale(1) brightness(1.6);
    transition: 0.1s ease;

    &:hover {
      filter: grayscale(0) brightness(1);
    }
  }

  &__next {
    transform: rotate(180deg) translateY(45px);
  }
}

@include media-breakpoint-down(md) {
  .slider-menu {
    margin: 20px 0;

    &__wrap {
      padding: 0 45px;
    }

    h2 {
      margin-bottom: 34px !important;
      margin-top: 22px !important;
    }
  }
}

@include media-breakpoint-down(sm) {
  .slider-menu {
    margin: 40px 0;

    &__wrap {
      padding: 0 32px;
    }

    &__next,
    &__prev {
      width: 16px;
    }

    h2 {
      margin: 0 0 28px !important;
    }
  }
}
