.solution {
  &:after {
    @extend %devider;
    margin-top: 15px;
  }

  h2 {
    margin: 70px 0 65px;
  }

  &__item {
    width: 25%;
  }

  &__text {
    padding: 0 0 0 62px;
    text-align: left;
  }

  &__title {
    margin: 36px 0 13px -28px;
  }

  &__btn {
    margin: 82px 0;
    text-align: center;
  }
}

@include media-breakpoint-down(md) {
  .solution {
    h2 {
      margin: 35px auto;
      width: 70%;
    }

    &__item:nth-of-type(4) {
      display: none !important;
    }
  }
}

@include media-breakpoint-down(sm) {
  .solution {
    &__item:nth-of-type(4) {
      display: block !important;
    }

    &__btn {
      margin: 0 0 30px;
    }
  }
}
