.solution {
  &:after {
    @extend %devider;
    margin-top: 15px;
  }

  h2 {
    margin: 70px 0 65px;
  }

  &__item {
    width: 25%;
  }

  &__text {
    padding: 0 0 0 62px;
    text-align: left;

    & a {
      // @include rem-line-height(28)
    }
  }

  &__title {
    margin: 36px 0 13px -28px;
  }

  &__btn {
    padding: 82px 0;
    text-align: center;
  }
}
