html,
body {
  @extend %font-second-light;
  color: $text-gray;
  font-size: $root-font-size + px;
  @include rem-line-height(26);
}

@mixin font-main-bold() {
  font-family: 'Merriweather', sans-serif;
  font-weight: 700;
}

%font-main-bold {
  @include font-main-bold;
}

%font-main-regular {
  font-family: 'Merriweather', sans-serif;
  font-weight: 300;
}

%font-second-light {
  font-family: 'SF UI Display', sans-serif;
  font-weight: 200;
}

%font-head-styles {
  @extend %font-main-bold;
  color: $text-black;
  text-transform: uppercase;
}

h1,
.h1 {
  @extend %font-head-styles;
  @include rem-font-size(32);
  @include rem-line-height(44);
}

h2,
.h2 {
  @extend %font-head-styles;
  @include rem-font-size(24);
}

h3,
.h3 {
  @extend %font-head-styles;
  @include rem-font-size(18);
  @include rem-line-height(28);
}

h4,
.h4 {
  @extend %font-head-styles;
  @include rem-font-size(16);
  @include rem-line-height(26);
}

h5,
.h5 {
  @extend %font-head-styles;
  @include rem-font-size(14);
  @include rem-line-height(20);
}

p {
  @include rem-font-size(16);
  @include rem-line-height(28);
}

.link {
  color: $text-gray-light;
  text-decoration: none;
  transition: $control-elem-transition;
  @include rem-font-size(14);

  &:hover {
    color: $text-black;
    border-color: $text-black;
  }

  &:active {
    text-decoration: none;
  }

  &--arrow {
    display: inline-block;
    padding-left: 28px;
    background: url('../img/icons/link-arrow-right.png') left top 4px no-repeat;
    background-size: 18px;
    @include rem-font-size(16);
    @extend %font-main-regular;
  }

  &--blacked {
    color: $text-black;
    text-decoration: underline;
    @include rem-font-size(18);
    @include rem-line-height(28);

    &:hover {
      text-decoration-color: transparent;
    }

    &:active {
      text-decoration: none;
    }

    &--small {
      @include rem-font-size(14);
    }
  }
}

@include media-breakpoint-down(md) {
  h1,
  .h1 {
    @include rem-font-size(24);
    @include rem-line-height(32);
  }

  h2,
  .h2 {
    @include rem-font-size(20);
    @include rem-line-height(30);
  }

  h3,
  .h3 {
    @include rem-font-size(16);
    @include rem-line-height(24);
  }

  p {
    @include rem-font-size(14);
    @include rem-line-height(22);
  }
}

@include media-breakpoint-down(sm) {
  p {
    @include rem-font-size(12);
    @include rem-line-height(18);
  }
}
