body {
  @extend %font-second-light;
  color: $text-gray;
  font-size: $root-font-size;
}

%font-head-styles {
  @extend %font-main-bold;
  color: $text-black;
}
h1 {
  @extend %font-head-styles;
  @include rem-font-size(32px);
}
h2 {
  @extend %font-head-styles;
  @include rem-font-size(24px);
}
h3 {
  @extend %font-head-styles;
  @include rem-font-size(18px);
}
