%font-main-bold {
  font-family: 'Merriweather', sans-serif;
  font-weight: 700;
}

%font-main-regular {
  font-family: 'Merriweather', sans-serif;
  font-weight: 300;
}

%font-second-light {
  font-family: 'SF UI Display', sans-serif;
  font-weight: 200;
}

$text-black: #000;
$text-gray: #a7a9ac;

$bg-main: #d06a60;

$root-font-size: 16px;