$text-black: #000;
$text-gray: #a7a9ac;
$text-gray-light: #9d9d9d;

$bg-main: #d06a60;
$bg-main-darken: darken($bg-main, 5%);
$bg-second: #608820;

$root-font-size: 16;

$header-transition: ease 0.3s;
$control-elem-transition: ease 0.3s;
