@import 'var';
@import 'mixins';
@import 'header';
@import 'font';
@import 'typography';
@import 'advantages';
@import 'social';

body {
  background-color: #fff;
  color: #000;
  margin-top: 13rem;
  margin-bottom: 40rem;
}
