section.about
  .container
    h2 О клинике
    .row
      .col-4
        img(src='img/about-photo.png')
      .col-8
        .about__text
          p.about__desc= aboutText
          .d-flex.justify-space-between.flex-row
            div
              p.about__name Смирнова Марина Владимировна
              p.about__post Генеральный директор клиники "Новые Технологии”
            div
              img(src='img/about-sign.jpg').about__sign