.advantages
  .container
    .d-flex.flex-row.justify-content-between
      each val in values 
        .advantages-item.text-center
          img(src='img/icons/' + val.href)
          p.advantages-title= val.title
          p.advantages-desc= val.desc