.advantages
  .container
    .d-flex.justify-between
      each val in values 
        .advantages-item
          img(src='img/icons/' + val.href)
          p.advantage-title= val.title
          p.advantage-desc= val.desc