  .row
    a.link(href='#') Onebanan Studio
    a.link(href='#').link--arrow Смотреть все услуги
    a.link(href='#').link--arrow.link--blacked Уберем угри у подростков 
    a.link(href='#').link--arrow.link--blacked.link--blacked--small Смотреть все услуги
  
  div.tpl
    .btn submit
    .btn.btn--small submit
    .btn.btn--outline.btn--white submit
    .btn.btn--outline.btn--black submit