.container
  .row
    a.link(href='#') Onebanan Studio
    a.link(href='#').link--arrow Смотреть все услуги
    a.link(href='#').link--arrow.link--blacked Уберем угри у подростков 
  
  div
    .btn submit
    .btn.btn--small submit
    .btn.btn--outline submit
    .btn.btn--outline.btn--black submit