.devider
  .container
    .devider__inner

footer.footer
  .footer__callback.d-flex.align-items-center.justify-content-center
    p Вы можете получить консультацию по телефону: 
    a(href='tel:88005555555') 8-800-555-55-55
    p или
    a.btn(href='#') Задать вопрос



script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
script(type='text/javascript' src='scripts/libs.min.js')
script(type='text/javascript' src='scripts/main.js')