header.header
  .container.d-flex.align-items-center.justify-content-between
    a.header__logo(href='#')

    nav.header__nav.mr-auto
      ul.nav
        each nav in navs
          li.nav-item
            a.nav-link(href=nav.url)= nav.title

    .header__menu.d-flex.align-items-center
      .social.d-flex
        a.social__link.social__in(href='#')
        a.social__link.social__fb(href='#')
        a.social__link.social__yt(href='#')

      .header__btn-phone