section.hero
  ul.hero__slider
    each slide in slides
      li
        .container
          img.hero__img(src=slide.href)
          h1.hero__title !{slide.title}
          p.hero__desc !{slide.desc}
          .btn Узнать больше
