section.hero
  .hero__slider(style='opacity:0')
    ul
      each slide in slides
        li
          .container
            img.hero__img(src=slide.href)
            h1.hero__title !{slide.title}
            p.hero__desc !{slide.desc}
            a.btn(href='#') Узнать больше

  .container.leaf-container
    .leaf-1
    .leaf-2
