mixin list-item(data)
  .list-item(class!=attributes.class)
    .list-item__inner
      .list-item__img-wrap
        a(href='#').list-item__img(style="background-image: url('img/" +data.href+ "')")
          .list-item__img-hover
      .list-item__text
        .list-item__title
          a(href='#').link.link--blacked !{data.title}

        if data.time
          p.list-item__time !{data.time}
            

        if data.desc 
          p.list-item__desc !{data.desc}

        if data.tags
          .list-item__tags
            each val in data.tags
              span.list-item__tag val

mixin menu(data)
  nav.menu-block
    ul.d-flex.flex-row.flex-wrap.justify-content-center.align-items-center
      each val in data
        li.menu-block__item-wrap
          if val.active
            a(href='#').menu-block__item.active= val.title
          else
            a(href='#').menu-block__item= val