- 
  var navs = [
    { 
      title: 'Клиника', 
      url: '#',
      childs: [
        { 
          title: 'Косметология', 
          url: '#' 
        }, 
        { 
          title: '', 
          url: '#' 
        }, 
      ]
    }, 
    { 
      title: 'Услуги', 
      url: '#',
      childs: [
        { 
          title: 'Косметология', 
          url: '#' 
        }, 
        { 
          title: 'Пластическая хирургия', 
          url: '#' 
        }, 
        { 
          title: 'Гинекология', 
          url: '#' 
        }, 
        { 
          title: 'Трихология', 
          url: '#' 
        }, 
        { 
          title: 'Стоматология', 
          url: '#' 
        }, 
      ]
    }, 
    { 
      title: 'Решения', 
      url: '#' 
    },
    { 
      title: 'Клиентам', 
      url: '#',
      childs: [
        { 
          title: 'Клиника1', 
          url: '#' 
        }, 
        { 
          title: 'Клиника2', 
          url: '#' 
        }, 
      ]
    },
    { 
      title: 'Блог', 
      url: '#' 
    },
    { 
      title: 'Контакты', 
      url: '#' 
    }
  ]

- 
  var values = [
    {
      href: 'advantages-icon-1.png',
      title: 'Опыт',
      desc: 'Успешный многолетний опыт в представленных услугах'
    },
    {
      href: 'advantages-icon-2.png',
      title: 'Персонал',
      desc: 'Грамотные, вежливые доктора и специалисты высшей категории'
    },
    {
      href: 'advantages-icon-3.png',
      title: 'Технологии',
      desc: 'Используем самое передовое медицинское оборудование'
    },
    {
      href: 'advantages-icon-4.png',
      title: 'Комфорт',
      desc: 'Комфортная клиника, уютный стационар'
    },
    {
      href: 'advantages-icon-5.png',
      title: 'Цены',
      desc: 'Индивидуальный подход и приятная ценовая политика'
    }
  ]