- 
  var navs = [
    { 
      title: 'Клиника', 
      url: '#',
      childs: [
        { 
          title: 'Косметология', 
          url: '#' 
        }, 
        { 
          title: 'Гинекология', 
          url: '#' 
        }, 
      ]
    }, 
    { 
      title: 'Услуги', 
      url: '#',
      childs: [
        { 
          title: 'Косметология', 
          url: '#' 
        }, 
        { 
          title: 'Пластическая хирургия', 
          url: '#' 
        }, 
        { 
          title: 'Гинекология', 
          url: '#' 
        }, 
        { 
          title: 'Трихология', 
          url: '#' 
        }, 
        { 
          title: 'Стоматология', 
          url: '#' 
        }, 
      ]
    }, 
    { 
      title: 'Решения', 
      url: '#' 
    },
    { 
      title: 'Клиентам', 
      url: '#',
      childs: [
        { 
          title: 'Клиника1', 
          url: '#' 
        }, 
        { 
          title: 'Клиника2', 
          url: '#' 
        }, 
      ]
    },
    { 
      title: 'Блог', 
      url: '#' 
    },
    { 
      title: 'Контакты', 
      url: '#' 
    }
  ]

- 
  var advantages = [
    {
      href: 'advantages-icon-1.png',
      title: 'Опыт',
      desc: 'Успешный многолетний опыт в представленных услугах'
    },
    {
      href: 'advantages-icon-2.png',
      title: 'Персонал',
      desc: 'Грамотные, вежливые доктора и специалисты высшей категории'
    },
    {
      href: 'advantages-icon-3.png',
      title: 'Технологии',
      desc: 'Используем самое передовое медицинское оборудование'
    },
    {
      href: 'advantages-icon-4.png',
      title: 'Комфорт',
      desc: 'Комфортная клиника, уютный стационар'
    },
    {
      href: 'advantages-icon-5.png',
      title: 'Цены',
      desc: 'Индивидуальный подход и приятная ценовая политика'
    }
  ]

- 
  var solution = [
    {
      href: 'effective-solutions-photo-1.jpg',
      title: 'Уберем угри<br> у подростков всего<br> за 2 недели',
      desc: 'Комплексная методика,<br> которая эффективно<br> лечит проблемы.'
    },
    {
      href: 'effective-solutions-photo-2.jpg',
      title: 'Комлексная<br> диагностика семьи<br> у стоматолога',
      desc: 'Решение подходит для<br> семьи из 3 человек<br> и более.'
    },
    {
      href: 'effective-solutions-photo-3.jpg',
      title: 'Программа<br> “Молодеем на<br> 10 лет”',
      desc: 'Эффективная<br> программа подойдет<br> для женщин 30-35 лет.'
    },
    {
      href: 'effective-solutions-photo-4.jpg',
      title: 'Программа<br> “Молодеем<br> на 20 лет”',
      desc: 'Мощная ANTI-AGE<br> методика по омоложению<br> организма.'
    }
  ]

- 
  var slides = [
    {
      href: '../img/slide-women-1.png',
      title: 'Эффективная Anti-age<br> программа омоложения',
      desc: 'Мощная ANTI-AGE методика по комплексному<br> омоложению всего вашего организма'
    },
    {
      href: '../img/slide-women-2.png',
      title: 'Быстрое и эффективное<br> лечение морщин',
      desc: 'Попробуйте последние достижения<br> медицины для омоложения.'
    },
    {
      href: '../img/slide-women-3.png',
      title: 'Здоровые волосы<br> за две недели',
      desc: 'Предлагаем комплексную<br> программу лечения волос.'
    }
  ]

-
  var services = [
    {
      href: 'img/services-photo-1.jpg',
      title: 'Пластическая <br> хирургия',
      desc: 'Наши косметологи владеют широким<br> спектром методик для лечения любых<br> проблем кожи лица, тела и головы.'
    },
    {
      href: 'img/services-photo-2.jpg',
      title: 'Косметология',
      desc: 'Наши косметологи владеют широким<br> спектром методик для лечения любых<br> проблем кожи лица, тела и головы.'
    },
    {
      href: 'img/services-photo-3.jpg',
      title: 'Трихология',
      desc: 'Наши косметологи владеют широким<br> спектром методик для лечения любых<br> проблем кожи лица, тела и головы.'
    },
    {
      href: 'img/services-photo-4.jpg',
      title: 'Гинекология',
      desc: 'Наши косметологи владеют широким<br> спектром методик для лечения любых<br> проблем кожи лица, тела и головы.'
    },
    {
      href: 'img/services-photo-5.jpg',
      title: 'Стоматология',
      desc: 'Наши косметологи владеют широким<br> спектром методик для лечения любых<br> проблем кожи лица, тела и головы.'
    },
    {
      href: 'img/services-bg-percents.png',
      title: 'Акция',
      desc: 'Скидка 30% на первое<br> обследование у гинеколога.',
      last: true
    }
  ]

- var aboutText = 'Клиника "Новые Технологии" работает в Калининграде с 2004 года. За это время мы зарекомендовали себя, как медицинский центр с высоким уровнем обслуживания. Клиника оснащена оборудованием ведущих мировых марок и использует эффективные методики последнего поколения, что позволяет добиться самых высоких результатов.Услугами клиники пользуются люди из разных городов России, а так же из стран Европы. За год у нас проводится около 750 операций.'