- 
  var navs = [
    { 
      title: 'Клиника', 
      url: '#' 
    }, 
    { 
      title: 'Услуги', 
      url: '#' 
    }, 
    { 
      title: 'Решения', 
      url: '#' 
    },
    { 
      title: 'Клиентам', 
      url: '#' 
    },
    { 
      title: 'Блог', 
      url: '#' 
    },
    { 
      title: 'Контакты', 
      url: '#' 
    }
  ]

- 
  var values = [
    {
      href: '',
      title: 'Опыт',
      desc: 'Успешный многолетний опыт в представленных услугах'
    },
    {
      href: '',
      title: 'Персонал',
      desc: 'Грамотные, вежливые доктора и специалисты высшей категории'
    },
    {
      href: '',
      title: 'Технологии',
      desc: 'Используем самое передовое медицинское оборудование'
    },
    {
      href: '',
      title: 'Комфорт',
      desc: 'Комфортная клиника, уютный стационар'
    },
    {
      href: '',
      title: 'Цены',
      desc: 'Индивидуальный подход и приятная ценовая политика'
    }
  ]