-  
  var navs = [
    { 
      title: 'Клиника', 
      url: '#!',
      childs: [
        { 
          title: 'О клинике', 
          url: '#!' 
        }, 
        { 
          title: 'Коллектив', 
          url: '#!' 
        }, 
        { 
          title: 'Вакансии', 
          url: '#!' 
        }, 
        { 
          title: 'Документы', 
          url: '#!' 
        }, 
        { 
          title: 'Новости', 
          url: '#!' 
        }, 
        { 
          title: 'Блог', 
          url: '#!' 
        }, 
        { 
          title: 'Контакты', 
          url: '#!' 
        }, 
      ]
    }, 
    { 
      title: 'Услуги', 
      url: '#!',
      childs: [
        { 
          title: 'Косметология', 
          url: '#!' 
        }, 
        { 
          title: 'Пластическая хирургия', 
          url: '#!' 
        }, 
        { 
          title: 'Гинекология', 
          url: '#!' 
        }, 
        { 
          title: 'Трихология', 
          url: '#!' 
        }, 
        { 
          title: 'Стоматология', 
          url: '#!' 
        }, 
      ]
    }, 
    { 
      title: 'Решения', 
      url: '#!' 
    },
    { 
      title: 'Клиентам', 
      url: '#!',
      childs: [
        { 
          title: 'До и после', 
          url: '#!' 
        }, 
        { 
          title: 'Цены', 
          url: '#!' 
        }, 
        { 
          title: 'Вопросы и ответы', 
          url: '#!' 
        }, 
        { 
          title: 'Отзывы', 
          url: '#!' 
        }, 
        { 
          title: 'Фотогалерея', 
          url: '#!' 
        }, 
        { 
          title: 'Видео', 
          url: '#!' 
        }, 
      ]
    },
    { 
      title: 'Блог', 
      url: '#!' 
    },
    { 
      title: 'Контакты', 
      url: '#!' 
    }
  ]

-  
  var navsFooter = [
    { 
      title: 'Клиника', 
      url: '#!',
      childs: [
        { 
          title: 'О клинике', 
          url: '#!' 
        }, 
        { 
          title: 'Коллектив', 
          url: '#!' 
        }, 
        { 
          title: 'Вакансии', 
          url: '#!' 
        }, 
        { 
          title: 'Документы', 
          url: '#!' 
        }, 
        { 
          title: 'Новости', 
          url: '#!' 
        }, 
        { 
          title: 'Блог', 
          url: '#!' 
        }, 
        { 
          title: 'Контакты', 
          url: '#!' 
        }, 
      ]
    }, 
    { 
      title: 'Услуги', 
      url: '#!',
      childs: [
        { 
          title: 'Косметология', 
          url: '#!' 
        }, 
        { 
          title: 'Пластическая хирургия', 
          url: '#!' 
        }, 
        { 
          title: 'Гинекология', 
          url: '#!' 
        }, 
        { 
          title: 'Трихология', 
          url: '#!' 
        }, 
        { 
          title: 'Стоматология', 
          url: '#!' 
        }, 
      ]
    }, 
    { 
      title: 'Клиентам', 
      url: '#!',
      childs: [
        { 
          title: 'До и после', 
          url: '#!' 
        }, 
        { 
          title: 'Цены', 
          url: '#!' 
        }, 
        { 
          title: 'Вопросы и ответы', 
          url: '#!' 
        }, 
        { 
          title: 'Отзывы', 
          url: '#!' 
        }, 
        { 
          title: 'Фотогалерея', 
          url: '#!' 
        }, 
        { 
          title: 'Видео', 
          url: '#!' 
        }, 
      ]
    },
    { 
      title: 'Решения', 
      url: '#!',
      childs: [
        { 
          title: 'Эффективные решения', 
          url: '#!' 
        }, 
      ]
    },
  ]

- 
  var advantages = [
    {
      href: 'advantages-icon-1.png',
      title: 'Опыт',
      desc: 'Успешный многолетний опыт в представленных услугах'
    },
    {
      href: 'advantages-icon-2.png',
      title: 'Персонал',
      desc: 'Грамотные, вежливые доктора и специалисты высшей категории'
    },
    {
      href: 'advantages-icon-3.png',
      title: 'Технологии',
      desc: 'Используем самое передовое медицинское оборудование'
    },
    {
      href: 'advantages-icon-4.png',
      title: 'Комфорт',
      desc: 'Комфортная клиника, уютный стационар'
    },
    {
      href: 'advantages-icon-5.png',
      title: 'Цены',
      desc: 'Индивидуальный подход и приятная ценовая политика'
    }
  ]

- 
  var solution = [
    {
      href: 'effective-solutions-photo-1.jpg',
      title: 'Уберем угри<br> у подростков всего<br> за 2 недели',
      desc: 'Комплексная методика,<br> которая эффективно<br> лечит проблемы.'
    },
    {
      href: 'effective-solutions-photo-2.jpg',
      title: 'Комлексная<br> диагностика семьи<br> у стоматолога',
      desc: 'Решение подходит для<br> семьи из 3 человек<br> и более.'
    },
    {
      href: 'effective-solutions-photo-3.jpg',
      title: 'Программа<br> “Молодеем на<br> 10 лет”',
      desc: 'Эффективная<br> программа подойдет<br> для женщин 30-35 лет.'
    },
    {
      href: 'effective-solutions-photo-4.jpg',
      title: 'Программа<br> “Молодеем<br> на 20 лет”',
      desc: 'Мощная ANTI-AGE<br> методика по омоложению<br> организма.'
    }
  ]

- 
  var slides = [
    {
      href: 'img/slide-women-1.png',
      title: 'Эффективная Anti-age<br> программа омоложения',
      desc: 'Мощная ANTI-AGE методика по комплексному<br> омоложению всего вашего организма'
    },
    {
      href: 'img/slide-women-2.png',
      title: 'Быстрое и эффективное<br> лечение морщин',
      desc: 'Попробуйте последние достижения<br> медицины для омоложения.'
    },
    {
      href: 'img/slide-women-3.png',
      title: 'Здоровые волосы<br> за две недели',
      desc: 'Предлагаем комплексную<br> программу лечения волос.'
    }
  ]

-
  var services = [
    {
      href: 'img/services-photo-1.jpg',
      title: 'Пластическая <br> хирургия',
      desc: 'Наши косметологи владеют широким<br> спектром методик для лечения любых<br> проблем кожи лица, тела и головы.'
    },
    {
      href: 'img/services-photo-2.jpg',
      title: 'Косметология',
      desc: 'Наши косметологи владеют широким<br> спектром методик для лечения любых<br> проблем кожи лица, тела и головы.'
    },
    {
      href: 'img/services-photo-3.jpg',
      title: 'Трихология',
      desc: 'Наши косметологи владеют широким<br> спектром методик для лечения любых<br> проблем кожи лица, тела и головы.'
    },
    {
      href: 'img/services-photo-4.jpg',
      title: 'Гинекология',
      desc: 'Наши косметологи владеют широким<br> спектром методик для лечения любых<br> проблем кожи лица, тела и головы.'
    },
    {
      href: 'img/services-photo-5.jpg',
      title: 'Стоматология',
      desc: 'Наши косметологи владеют широким<br> спектром методик для лечения любых<br> проблем кожи лица, тела и головы.'
    },
    {
      href: 'img/services-bg-percents.png',
      title: 'Акция',
      desc: 'Скидка 30% на первое<br> обследование у гинеколога.',
      last: true
    }
  ]

- var aboutText = 'Клиника "Новые Технологии" работает в Калининграде с 2004 года. За это время мы зарекомендовали себя, как медицинский центр с высоким уровнем обслуживания. Клиника оснащена оборудованием ведущих мировых марок и использует эффективные методики последнего поколения, что позволяет добиться самых высоких результатов.Услугами клиники пользуются люди из разных городов России, а так же из стран Европы. За год у нас проводится около 750 операций.'

-
  var gallery = [
    {
      img: 'img/gallery/img1.jpg',
      thumb: 'img/gallery/img1.jpg'
    },
    {
      img: 'img/gallery/img2.jpg',
      thumb: 'img/gallery/img2.jpg'
    },
    {
      img: 'img/gallery/img3.jpg',
      thumb: 'img/gallery/img3.jpg'
    },
    {
      img: 'img/gallery/img4.jpg',
      thumb: 'img/gallery/img4.jpg'
    },
    {
      img: 'img/gallery/img5.jpg',
      thumb: 'img/gallery/img5.jpg'
    },
    {
      img: 'img/gallery/img6.jpg',
      thumb: 'img/gallery/img6.jpg'
    },
    {
      img: 'img/gallery/img7.jpg',
      thumb: 'img/gallery/img7.jpg'
    },
    {
      img: 'img/gallery/img8.jpg',
      thumb: 'img/gallery/img8.jpg'
    }

  ]

-
  var footerAddress = [
    {
      title: '<div class="d-none d-lg-block">Пластическая хирургия</div><div class="d-block d-lg-none">Пластика</div>',
      phone: '+7 (4012) 353-546',
      address: 'г. Калининград, Московский пр-т, 375'
    },
    {
      title: 'Косметология',
      phone: '+7 (4012) 332-332',
      address: 'г. Калининград, ул. Некрасова, 3'
    },
    {
      title: 'Стоматология',
      phone: '+7 (4012) 332-332',
      address: 'г. Калининград, ул. Некрасова, 3'
    },
  ]

-
  var team = [
    {
      href: 'team/team-photo-1.jpg',
      title: 'Игнатенко <br> Алексей Александрович',
      desc: 'Пластический хирург,<br>общий хирург'
    },
    {
      href: 'team/team-photo-2.jpg',
      title: 'Вуйлов <br>Максим Владимирович',
      desc: 'Пластический хирург,<br> челюстно-лицевой хирург'
    },
    {
      href: 'team/team-photo-3.jpg',
      title: 'Гавриленко <br>Людмила Яновна',
      desc: 'Врач дермато-венеролог,<br> врач-косметолог'
    },
    {
      href: 'team/team-photo-4.jpg',
      title: 'Штацкая <br> Нелли Ивановна',
      desc: 'Врач-дерматовенеролог'
    },
    {
      href: 'team/team-photo-5.jpg',
      title: 'Щенникова<br>Елена Евгеньевна',
      desc: 'Врач-косметолог, <br>лазеротерапевт'
    },
    {
      href: 'team/team-photo-6.jpg',
      title: 'Батюшина<br>Юлия Сергеевна',
      desc: 'Врач-гинеколог'
    },
    {
      href: 'team/team-photo-7.jpg',
      title: 'Шток<br>Инна Аркадьевна',
      desc: 'Врач-гинеколог'
    },
    {
      href: 'team/team-photo-8.jpg',
      title: 'Боровиков<br>Юрий Евгеньевич',
      desc: 'Врач-трихолог, <br>уролог'
    },
    {
      href: 'team/team-photo-9.jpg',
      title: 'Кулагин<br>Геннадий Филиппович',
      desc: 'Анестезиолог-реаниматолог,<br>зав. анестезиологическим<br>отделением. Врач в.к.'
    },
    {
      href: 'team/team-photo-10.jpg',
      title: 'Кулагин<br>Вадим Геннадьевич',
      desc: 'Врач-анестезиолог'
    },
    {
      href: 'team/team-photo-11.jpg',
      title: 'Жусупова<br>Диана Рафаэлевна',
      desc: 'Врач-анестезиолог,<br>реаниматолог'
    },
    {
      href: 'team/team-photo-12.jpg',
      title: 'Горчаковская<br>Алла Юрьевна',
      desc: 'Главный врач клиники «Новые<br> Технологии»'
    },
    {
      href: 'team/team-photo-13.jpg',
      title: 'Чепелова<br>Елена Павловна',
      desc: 'Медсестра стационара'
    },
    {
      href: 'team/team-photo-14.jpg',
      title: 'Милонова<br>Надежда Викторовна',
      desc: 'Медсестра-анестезист'
    },
    {
      href: 'team/team-photo-15.jpg',
      title: 'Махиня<br>Василий Михайлович',
      desc: 'Медбрат-анестезист'
    },
    {
      href: 'team/team-photo-16.jpg',
      title: 'Богатырева<br>Ирина Павловна',
      desc: 'Медсестра <br>стационара'
    }
  ]

- 
  var price = [
    {
      title: 'Консультация врача косметолога-дерматолога',
      price: '800'
    },
    {
      title: 'Удаление доброкачественных образований: ангиом, невусов, папиллом, атером, кератом и др.',
      price: '2000-2800'
    },
    {
      title: 'Пилинги',
      price: '1000-3000'
    },
    {
      title: 'Медицинская чистка лица',
      price: '1900-3800'
    },
    {
      title: 'Уходовые программы PAYOT',
      price: '600-800'
    },
    {
      title: 'Мезотерапия',
      price: '5000-7000'
    },
    {
      title: '3D Мезонтини (за 1 нить с установкой)',
      price: '800'
    },
    {
      title: 'Плазмолифтинг',
      price: '2000-2800'
    },
    {
      title: 'Консультация врача косметолога-дерматолога',
      price: '1500-3900'
    },
    {
      title: 'Удаление доброкачественных образований: ангиом, невусов, папиллом, атером, кератом и др.',
      price: '2000-2800'
    },
    {
      title: 'Пилинги',
      price: '1500-3900'
    },
    {
      title: 'Медицинская чистка лица',
      price: '2200'
    },
    {
      title: 'Уходовые программы PAYOT',
      price: '1000-3000'
    },
    {
      title: 'Мезотерапия',
      price: '1900-3800'
    },
    {
      title: '3D Мезонтини (за 1 нить с установкой)',
      price: '600-800'
    },
    {
      title: 'Плазмолифтинг',
      price: '5000-7000'
    },

  ]

- var menuTypeServe = ['Косметология', {title: 'Пластическая хирургия', active: true}, 'Гинекология', 'Трихология', 'Стоматология']

-
  var galleryDocument = [
    {
      img: 'img/document/document-image-1.jpg',
      thumb: 'img/document/document-image-1.jpg',
      desc: 'Лицензия на осуществление медицинской деятельности от 15.07.2010г.'
    },
    {
      img: 'img/document/document-image-2.jpg',
      thumb: 'img/document/document-image-2.jpg',
      desc: 'Сертификат на использование лазерной установки Wf1000'
    },
    {
      img: 'img/document/document-image-3.jpg',
      thumb: 'img/document/document-image-3.jpg',
      desc: 'Лицензия на проведение процедур с применением препарата Beauty F10-T'
    },
    {
      img: 'img/document/document-image-4.jpg',
      thumb: 'img/document/document-image-4.jpg',
      desc: 'ГОСТ от 14.10.2011 по использованию специального медицинского оборудования'
    },
    {
      img: 'img/document/document-image-5.jpg',
      thumb: 'img/document/document-image-5.jpg',
      desc: 'Почетная грамота за успешное выступление на конференции косметологов'
    }
  ]

- 
  var vacancys = ['Врач-косметолог', {title: 'Массажист', active: true}, 'Врач-стоматолог', 'Администратор медцентра', 'Медсестра', 'Бухгалтер']

-
  var conditions = [
    {
      title: 'Требования',
      list: [
        'Высшее образование по специальности «Стоматология». ',
        'Действующие сертификаты по специализации.',
        'Дополнительные сертификаты, курсы.'
      ]
    },
    {
      title: 'Требования',
      list: [
        'Высшее образование по специальности «Стоматология». ',
        'Действующие сертификаты по специализации.',
        'Дополнительные сертификаты, курсы.'
      ]
    },
    {
      title: 'Требования',
      list: [
        'Высшее образование по специальности «Стоматология». ',
        'Действующие сертификаты по специализации.',
        'Дополнительные сертификаты, курсы.'
      ]
    },
    {
      title: 'Требования',
      desc: 'Полный спектр стоматологических услуг от диагностики до хирургических операций. Поток пациентов очень большой, Вам будет выделен постоянный ассистент.',
      salary: '85 000 руб. + премия'
    }
  ]

- 
  var summary = {
    desc: 'Клиника "Новые Технологии" всегда открыта для рассмотрения новых специалистов. Если Вы думаете, что вы нам подходите, пожалуйста заполните форму в которой прикрепите свое подробное резюме. Мы обязательно рассмотрим вашу кандидатуру и ответим Вам в ближайшее время.',
    btnTitle: 'Отправить резюме'
  }