-  
  var navs = [
    { 
      title: 'Клиника', 
      url: '#!',
      childs: [
        { 
          title: 'О клинике', 
          url: '#!' 
        }, 
        { 
          title: 'Коллектив', 
          url: '#!' 
        }, 
        { 
          title: 'Вакансии', 
          url: '#!' 
        }, 
        { 
          title: 'Документы', 
          url: '#!' 
        }, 
        { 
          title: 'Новости', 
          url: '#!' 
        }, 
        { 
          title: 'Блог', 
          url: '#!' 
        }, 
        { 
          title: 'Контакты', 
          url: '#!' 
        }, 
      ]
    }, 
    { 
      title: 'Услуги', 
      url: '#!',
      childs: [
        { 
          title: 'Косметология', 
          url: '#!' 
        }, 
        { 
          title: 'Пластическая хирургия', 
          url: '#!' 
        }, 
        { 
          title: 'Гинекология', 
          url: '#!' 
        }, 
        { 
          title: 'Трихология', 
          url: '#!' 
        }, 
        { 
          title: 'Стоматология', 
          url: '#!' 
        }, 
      ]
    }, 
    { 
      title: 'Решения', 
      url: '#!' 
    },
    { 
      title: 'Клиентам', 
      url: '#!',
      childs: [
        { 
          title: 'До и после', 
          url: '#!' 
        }, 
        { 
          title: 'Цены', 
          url: '#!' 
        }, 
        { 
          title: 'Вопросы и ответы', 
          url: '#!' 
        }, 
        { 
          title: 'Отзывы', 
          url: '#!' 
        }, 
        { 
          title: 'Фотогалерея', 
          url: '#!' 
        }, 
        { 
          title: 'Видео', 
          url: '#!' 
        }, 
      ]
    },
    { 
      title: 'Блог', 
      url: '#!' 
    },
    { 
      title: 'Контакты', 
      url: '#!' 
    }
  ]

-  
  var navsFooter = [
    { 
      title: 'Клиника', 
      url: '#!',
      childs: [
        { 
          title: 'О клинике', 
          url: '#!' 
        }, 
        { 
          title: 'Коллектив', 
          url: '#!' 
        }, 
        { 
          title: 'Вакансии', 
          url: '#!' 
        }, 
        { 
          title: 'Документы', 
          url: '#!' 
        }, 
        { 
          title: 'Новости', 
          url: '#!' 
        }, 
        { 
          title: 'Блог', 
          url: '#!' 
        }, 
        { 
          title: 'Контакты', 
          url: '#!' 
        }, 
      ]
    }, 
    { 
      title: 'Услуги', 
      url: '#!',
      childs: [
        { 
          title: 'Косметология', 
          url: '#!' 
        }, 
        { 
          title: 'Пластическая хирургия', 
          url: '#!' 
        }, 
        { 
          title: 'Гинекология', 
          url: '#!' 
        }, 
        { 
          title: 'Трихология', 
          url: '#!' 
        }, 
        { 
          title: 'Стоматология', 
          url: '#!' 
        }, 
      ]
    }, 
    { 
      title: 'Клиентам', 
      url: '#!',
      childs: [
        { 
          title: 'До и после', 
          url: '#!' 
        }, 
        { 
          title: 'Цены', 
          url: '#!' 
        }, 
        { 
          title: 'Вопросы и ответы', 
          url: '#!' 
        }, 
        { 
          title: 'Отзывы', 
          url: '#!' 
        }, 
        { 
          title: 'Фотогалерея', 
          url: '#!' 
        }, 
        { 
          title: 'Видео', 
          url: '#!' 
        }, 
      ]
    },
    { 
      title: 'Решения', 
      url: '#!',
      childs: [
        { 
          title: 'Эффективные решения', 
          url: '#!' 
        }, 
      ]
    },
  ]

- 
  var advantages = [
    {
      href: 'advantages-icon-1.png',
      title: 'Опыт',
      desc: 'Успешный многолетний опыт в представленных услугах'
    },
    {
      href: 'advantages-icon-2.png',
      title: 'Персонал',
      desc: 'Грамотные, вежливые доктора и специалисты высшей категории'
    },
    {
      href: 'advantages-icon-3.png',
      title: 'Технологии',
      desc: 'Используем самое передовое медицинское оборудование'
    },
    {
      href: 'advantages-icon-4.png',
      title: 'Комфорт',
      desc: 'Комфортная клиника, уютный стационар'
    },
    {
      href: 'advantages-icon-5.png',
      title: 'Цены',
      desc: 'Индивидуальный подход и приятная ценовая политика'
    }
  ]

- 
  var solution = [
    {
      href: 'effective-solutions-photo-1.jpg',
      title: 'Уберем угри<br> у подростков всего<br> за 2 недели',
      desc: 'Комплексная методика,<br> которая эффективно<br> лечит проблемы.'
    },
    {
      href: 'effective-solutions-photo-2.jpg',
      title: 'Комлексная<br> диагностика семьи<br> у стоматолога',
      desc: 'Решение подходит для<br> семьи из 3 человек<br> и более.'
    },
    {
      href: 'effective-solutions-photo-3.jpg',
      title: 'Программа<br> “Молодеем на<br> 10 лет”',
      desc: 'Эффективная<br> программа подойдет<br> для женщин 30-35 лет.'
    },
    {
      href: 'effective-solutions-photo-4.jpg',
      title: 'Программа<br> “Молодеем<br> на 20 лет”',
      desc: 'Мощная ANTI-AGE<br> методика по омоложению<br> организма.'
    }
  ]

- 
  var slides = [
    {
      href: 'img/slide-women-1.png',
      title: 'Эффективная Anti-age<br> программа омоложения',
      desc: 'Мощная ANTI-AGE методика по комплексному<br> омоложению всего вашего организма'
    },
    {
      href: 'img/slide-women-2.png',
      title: 'Быстрое и эффективное<br> лечение морщин',
      desc: 'Попробуйте последние достижения<br> медицины для омоложения.'
    },
    {
      href: 'img/slide-women-3.png',
      title: 'Здоровые волосы<br> за две недели',
      desc: 'Предлагаем комплексную<br> программу лечения волос.'
    }
  ]

-
  var services = [
    {
      href: 'img/services-photo-1.jpg',
      title: 'Пластическая <br> хирургия',
      desc: 'Наши косметологи владеют широким<br> спектром методик для лечения любых<br> проблем кожи лица, тела и головы.'
    },
    {
      href: 'img/services-photo-2.jpg',
      title: 'Косметология',
      desc: 'Наши косметологи владеют широким<br> спектром методик для лечения любых<br> проблем кожи лица, тела и головы.'
    },
    {
      href: 'img/services-photo-3.jpg',
      title: 'Трихология',
      desc: 'Наши косметологи владеют широким<br> спектром методик для лечения любых<br> проблем кожи лица, тела и головы.'
    },
    {
      href: 'img/services-photo-4.jpg',
      title: 'Гинекология',
      desc: 'Наши косметологи владеют широким<br> спектром методик для лечения любых<br> проблем кожи лица, тела и головы.'
    },
    {
      href: 'img/services-photo-5.jpg',
      title: 'Стоматология',
      desc: 'Наши косметологи владеют широким<br> спектром методик для лечения любых<br> проблем кожи лица, тела и головы.'
    },
    {
      href: 'img/services-bg-percents.png',
      title: 'Акция',
      desc: 'Скидка 30% на первое<br> обследование у гинеколога.',
      last: true
    }
  ]

- var aboutText = 'Клиника "Новые Технологии" работает в Калининграде с 2004 года. За это время мы зарекомендовали себя, как медицинский центр с высоким уровнем обслуживания. Клиника оснащена оборудованием ведущих мировых марок и использует эффективные методики последнего поколения, что позволяет добиться самых высоких результатов.Услугами клиники пользуются люди из разных городов России, а так же из стран Европы. За год у нас проводится около 750 операций.'

-
  var gallery = [
    {
      img: 'img/gallery/img1.jpg',
      thumb: 'img/gallery/img1.jpg'
    },
    {
      img: 'img/gallery/img2.jpg',
      thumb: 'img/gallery/img2.jpg'
    },
    {
      img: 'img/gallery/img3.jpg',
      thumb: 'img/gallery/img3.jpg'
    },
    {
      img: 'img/gallery/img4.jpg',
      thumb: 'img/gallery/img4.jpg'
    },
    {
      img: 'img/gallery/img5.jpg',
      thumb: 'img/gallery/img5.jpg'
    },
    {
      img: 'img/gallery/img6.jpg',
      thumb: 'img/gallery/img6.jpg'
    },
    {
      img: 'img/gallery/img7.jpg',
      thumb: 'img/gallery/img7.jpg'
    },
    {
      img: 'img/gallery/img8.jpg',
      thumb: 'img/gallery/img8.jpg'
    }

  ]

-
  var footerAddress = [
    {
      title: '<div class="d-none d-lg-block">Пластическая хирургия</div><div class="d-block d-lg-none">Пластика</div>',
      phone: '+7 (4012) 353-546',
      address: 'г. Калининград, Московский пр-т, 375'
    },
    {
      title: 'Косметология',
      phone: '+7 (4012) 332-332',
      address: 'г. Калининград, ул. Некрасова, 3'
    },
    {
      title: 'Стоматология',
      phone: '+7 (4012) 332-332',
      address: 'г. Калининград, ул. Некрасова, 3'
    },
  ]

-
  var team = [
    {
      href: 'team/team-photo-1.jpg',
      title: 'Игнатенко <br> Алексей Александрович',
      desc: 'Пластический хирург,<br>общий хирург'
    },
    {
      href: 'team/team-photo-2.jpg',
      title: 'Вуйлов <br>Максим Владимирович',
      desc: 'Пластический хирург,<br> челюстно-лицевой хирург'
    },
    {
      href: 'team/team-photo-3.jpg',
      title: 'Гавриленко <br>Людмила Яновна',
      desc: 'Врач дермато-венеролог,<br> врач-косметолог'
    },
    {
      href: 'team/team-photo-4.jpg',
      title: 'Штацкая <br> Нелли Ивановна',
      desc: 'Врач-дерматовенеролог'
    },
    {
      href: 'team/team-photo-5.jpg',
      title: 'Щенникова<br>Елена Евгеньевна',
      desc: 'Врач-косметолог, <br>лазеротерапевт'
    },
    {
      href: 'team/team-photo-6.jpg',
      title: 'Батюшина<br>Юлия Сергеевна',
      desc: 'Врач-гинеколог'
    },
    {
      href: 'team/team-photo-7.jpg',
      title: 'Шток<br>Инна Аркадьевна',
      desc: 'Врач-гинеколог'
    },
    {
      href: 'team/team-photo-8.jpg',
      title: 'Боровиков<br>Юрий Евгеньевич',
      desc: 'Врач-трихолог, <br>уролог'
    },
    {
      href: 'team/team-photo-9.jpg',
      title: 'Кулагин<br>Геннадий Филиппович',
      desc: 'Анестезиолог-реаниматолог,<br>зав. анестезиологическим<br>отделением. Врач в.к.'
    },
    {
      href: 'team/team-photo-10.jpg',
      title: 'Кулагин<br>Вадим Геннадьевич',
      desc: 'Врач-анестезиолог'
    },
    {
      href: 'team/team-photo-11.jpg',
      title: 'Жусупова<br>Диана Рафаэлевна',
      desc: 'Врач-анестезиолог,<br>реаниматолог'
    },
    {
      href: 'team/team-photo-12.jpg',
      title: 'Горчаковская<br>Алла Юрьевна',
      desc: 'Главный врач клиники «Новые<br> Технологии»'
    },
    {
      href: 'team/team-photo-13.jpg',
      title: 'Чепелова<br>Елена Павловна',
      desc: 'Медсестра стационара'
    },
    {
      href: 'team/team-photo-14.jpg',
      title: 'Милонова<br>Надежда Викторовна',
      desc: 'Медсестра-анестезист'
    },
    {
      href: 'team/team-photo-15.jpg',
      title: 'Махиня<br>Василий Михайлович',
      desc: 'Медбрат-анестезист'
    },
    {
      href: 'team/team-photo-16.jpg',
      title: 'Богатырева<br>Ирина Павловна',
      desc: 'Медсестра <br>стационара'
    }
  ]

- 
  var price = [
    {
      title: 'Консультация врача косметолога-дерматолога',
      price: '800'
    },
    {
      title: 'Удаление доброкачественных образований: ангиом, невусов, папиллом, атером, кератом и др.',
      price: '2000-2800'
    },
    {
      title: 'Пилинги',
      price: '1000-3000'
    },
    {
      title: 'Медицинская чистка лица',
      price: '1900-3800'
    },
    {
      title: 'Уходовые программы PAYOT',
      price: '600-800'
    },
    {
      title: 'Мезотерапия',
      price: '5000-7000'
    },
    {
      title: '3D Мезонтини (за 1 нить с установкой)',
      price: '800'
    },
    {
      title: 'Плазмолифтинг',
      price: '2000-2800'
    },
    {
      title: 'Консультация врача косметолога-дерматолога',
      price: '1500-3900'
    },
    {
      title: 'Удаление доброкачественных образований: ангиом, невусов, папиллом, атером, кератом и др.',
      price: '2000-2800'
    },
    {
      title: 'Пилинги',
      price: '1500-3900'
    },
    {
      title: 'Медицинская чистка лица',
      price: '2200'
    },
    {
      title: 'Уходовые программы PAYOT',
      price: '1000-3000'
    },
    {
      title: 'Мезотерапия',
      price: '1900-3800'
    },
    {
      title: '3D Мезонтини (за 1 нить с установкой)',
      price: '600-800'
    },
    {
      title: 'Плазмолифтинг',
      price: '5000-7000'
    },

  ]

- var menuTypeServe = ['Косметология', {title: 'Пластическая хирургия', active: true}, 'Гинекология', 'Трихология', 'Стоматология']

-
  var galleryDocument = [
    {
      img: 'img/document/document-image-1.jpg',
      thumb: 'img/document/document-image-1.jpg',
      desc: 'Лицензия на осуществление медицинской деятельности от 15.07.2010г.'
    },
    {
      img: 'img/document/document-image-2.jpg',
      thumb: 'img/document/document-image-2.jpg',
      desc: 'Сертификат на использование лазерной установки Wf1000'
    },
    {
      img: 'img/document/document-image-3.jpg',
      thumb: 'img/document/document-image-3.jpg',
      desc: 'Лицензия на проведение процедур с применением препарата Beauty F10-T'
    },
    {
      img: 'img/document/document-image-4.jpg',
      thumb: 'img/document/document-image-4.jpg',
      desc: 'ГОСТ от 14.10.2011 по использованию специального медицинского оборудования'
    },
    {
      img: 'img/document/document-image-5.jpg',
      thumb: 'img/document/document-image-5.jpg',
      desc: 'Почетная грамота за успешное выступление на конференции косметологов'
    }
  ]

-
  var galleryDocumentAll = [
    {
      img: 'img/document/document-image-1.jpg',
      thumb: 'img/document/document-image-1.jpg',
      desc: 'Лицензия на осуществление медицинской деятельности от 15.07.2010г.'
    },
    {
      img: 'img/document/document-image-2.jpg',
      thumb: 'img/document/document-image-2.jpg',
      desc: 'Сертификат на использование лазерной установки Wf1000'
    },
    {
      img: 'img/document/document-image-3.jpg',
      thumb: 'img/document/document-image-3.jpg',
      desc: 'Лицензия на проведение процедур с применением препарата Beauty F10-T'
    },
    {
      img: 'img/document/document-image-4.jpg',
      thumb: 'img/document/document-image-4.jpg',
      desc: 'ГОСТ от 14.10.2011 по использованию специального медицинского оборудования'
    },
    {
      img: 'img/document/document-image-5.jpg',
      thumb: 'img/document/document-image-5.jpg',
      desc: 'Почетная грамота за успешное выступление на конференции косметологов'
    },
    {
      img: 'img/document/document-image-1.jpg',
      thumb: 'img/document/document-image-1.jpg',
      desc: 'Лицензия на осуществление медицинской деятельности от 15.07.2010г.'
    },
    {
      img: 'img/document/document-image-2.jpg',
      thumb: 'img/document/document-image-2.jpg',
      desc: 'Сертификат на использование лазерной установки Wf1000'
    },
    {
      img: 'img/document/document-image-3.jpg',
      thumb: 'img/document/document-image-3.jpg',
      desc: 'Лицензия на проведение процедур с применением препарата Beauty F10-T'
    },
    {
      img: 'img/document/document-image-4.jpg',
      thumb: 'img/document/document-image-4.jpg',
      desc: 'ГОСТ от 14.10.2011 по использованию специального медицинского оборудования'
    },
    {
      img: 'img/document/document-image-5.jpg',
      thumb: 'img/document/document-image-5.jpg',
      desc: 'Почетная грамота за успешное выступление на конференции косметологов'
    }
  ]

- 
  var vacancys = ['Врач-косметолог', {title: 'Массажист', active: true}, 'Врач-стоматолог', 'Администратор медцентра', 'Медсестра', 'Бухгалтер']

-
  var conditions = [
    {
      title: 'Требования',
      list: [
        'Высшее образование по специальности «Стоматология». ',
        'Действующие сертификаты по специализации.',
        'Дополнительные сертификаты, курсы.',
        'Опыт работы в частных стоматологических клиниках не менее 5 лет.',
        'Интеллигентность, честность и образованность.',
        'Грамотная правильная речь при общении с пациентами. ',
        'Отличное знание анатомической топографии корневых каналов.',
        'Знание ПК на хорошем уровне (офисные программы, IDENT- желательно).'
      ]
    },
    {
      title: 'Обязанности',
      list: [
        'Прием пациентов согласно установленному графику. ',
        'Разработка плана комплексного лечения пациента.',
        'Квалифицированное и своевременное обследование и лечение больных с заболеваниями зубов и полости рта.',
        'Профессиональное консультирование пациентов.',
        'Командное комплексное взаимодействие с врачами других специализаций.'
      ]
    },
    {
      title: 'Условия',
      list: [
        'Комфортная клиника',
        'Современное оборудование',
        'Личный ассистент',
        'Дружелюбный коллектив',
        'Рабочий график: ПН-СБ с 9:00 до 16:00 - Соцпакет, белая зарплата, премии'
      ],
      class: 'list--secondary-color'
    },
    {
      title: 'Требования',
      desc: 'Полный спектр стоматологических услуг от диагностики до хирургических операций. Поток пациентов очень большой, Вам будет выделен постоянный ассистент.',
      salary: '85 000 руб. + премия'
    }
  ]

- 
  var summary = {
    desc: 'Клиника "Новые Технологии" всегда открыта для рассмотрения новых специалистов. Если Вы думаете, что вы нам подходите, пожалуйста заполните форму в которой прикрепите свое подробное резюме. Мы обязательно рассмотрим вашу кандидатуру и ответим Вам в ближайшее время.',
    btnTitle: 'Отправить резюме'
  }

- 
  var news = [
    {
      href: 'news/news-image-1.jpg',
      title: 'Команда наших хирургов прошла обучение у гуру липоструктурирования',
      desc: 'Клиника «Новые технологии» уже не первый год практикует Vaser-липосакцию и постоянно совершенствуется и развивается в этом направлении, перенимая опыт самых лучших пластических хирургов со всего мира технологии» первый год практикует Vaser-липосакцию и постоянно совершенствуется опыт самых лучших пластических ...',
      time: '28.12.2017'
    },
    {
      href: 'news/news-image-2.jpg',
      title: 'С января 2017 года в клинике ведет прием настоящий мужской доктор',
      desc: 'Клиника «Новые технологии» постоянно расширяет спектр услуг, самых востребованных в Калининграде. Проблемы, которые раньше приходилось лечить у разных врачей, теперь можно будет решить у одного постоянно расширяет спектр услуг, самых востребованных в Калининграде. Проблемы, которые раньше можно будет решить у одного ...',
      time: '17.12.2017'
    },
    {
      href: 'news/news-image-3.jpg',
      title: 'День Знаний в клинике «Новые Технологии» бывает не только 1 сентября',
      desc: 'Клиника «Новые технологии» уже не первый год практикует Vaser-липосакцию и постоянно совершенствуется и развивается в этом направлении, перенимая опыт самых лучших пластических хирургов со всего мира технологии»  первый год практикует Vaser-липосакцию и постоянно совершенствуется опыт самых лучших пластических ...',
      time: '05.12.2017'
    },
    {
      href: 'news/news-image-4.jpg',
      title: 'Максим Вуйлов о технологии VASER',
      desc: 'Клиника «Новые технологии» уже не первый год практикует Vaser-липосакцию и постоянно совершенствуется и развивается в этом направлении, перенимая опыт самых лучших пластических хирургов со всего мира технологии» первый год практикует Vaser-липосакцию и постоянно совершенствуется опыт самых лучших пластических ...',
      time: '01.12.2017'
    },
    {
      href: 'news/news-image-5.jpg',
      title: 'Клиника «Новые технологии» объявляет старт уникального проекта «Новая»',
      desc: 'Клиника «Новые технологии» уже не первый год практикует Vaser-липосакцию и постоянно совершенствуется и развивается в этом направлении, перенимая опыт самых лучших пластических хирургов со всего мира технологии» первый год практикует Vaser-липосакцию и постоянно совершенствуется опыт самых лучших пластических ...',
      time: '19.11.2017'
    }

  ]

- 
  var videoGallery = [
    {
      href: 'video-gallery/video-gallery-image-1.jpg',
      title: 'Видеоотчет с бесплатного семинара по женской красоте от косметолога нашей клиники',
      desc: 'Ирина Иванова, косметолог клиники “Новые Технологии”, провела бесплатный семинар для всех желающих на котором рассказала, как правильно ухаживать за кожей, чтобы она сохраняла свою естественную красоту долгое время.',
      time: '17.12.2017'
    },
    {
      href: 'video-gallery/video-gallery-image-2.jpg',
      title: 'Операция по подтяжке лица девушки 35 лет в клинике на Московском проспекте',
      desc: 'Операцию проводят наши опытные пластические хирурги, Федор Александров и Максим Волочков. Операция занимает всего 30 минут, после чего полученный эффект будет держаться более нескольких лет.',
      time: '17.12.2017'
    },
    {
      href: 'video-gallery/video-gallery-image-3.jpg',
      title: 'Полезные советы от косметолога по уходу за кожей рук и ног на все случаи жизни',
      desc: 'В этом видео наш опытный косметолог рассказывает всем девушка и женщинам, как правильно ухаживать за кожей рук и ног каждый день. Эти полезные советы могут быть применимы в любых условиях, дома, на отдыхе или в поездке.',
      time: '17.12.2017'
    },
    {
      href: 'video-gallery/video-gallery-image-4.jpg',
      title: 'Прогулка по зданию нашей новой клинике на ул. Некрасова в Калининграде',
      desc: 'Видео-обзор нашей новой клиники, которая открылась в Калининграде на ул. Некрасова, 3. Мы прогулялись по всему новому отделению косметологии, чтобы вы заочно побывали у нас в гостях.',
      time: '17.12.2017'
    },
    {
      href: 'video-gallery/video-gallery-image-5.jpg',
      title: 'Отчет с ежегодной конференции пластических хирургов Российской Федерации',
      desc: 'Наши специалисты, пластический хирург Михаил Рогов и Вахтанг Забушвили представляли клинику “Новые Технологии” на ежегодной конференции пластических хирургов, которая проходила в Москве.',
      time: '17.12.2017'
    }
  ]
   

-
  var solutions = [
    {
      href: 'services/service-img-1.jpg',
      title: 'Vaser Липосакция',
      desc: 'Эту процедуру часто называют фитнесом для ленивых. Липосакция по-новому!'
    },
    {
      href: 'services/service-img-2.jpg',
      title: 'Абдоминопластика',
      desc: 'Область живота большинство людей называют своей проблемной зоной ...'
    },
    {
      href: 'services/service-img-3.jpg',
      title: 'Блефаропластика',
      desc: '«Мешки» и синяки под глазами, утомленный взгляд, опухлость нижних и верхних ...'
    },
    {
      href: 'services/service-img-4.jpg',
      title: 'Интимная хирургия',
      desc: 'Все, что касается интимной части нашей жизни, обычно находится под грифом ...'
    },
    {
      href: 'services/service-img-5.jpg',
      title: 'Липофилинг',
      desc: 'Название процедуры говорит само за себя – заполнение собственными клетками ...'
    },
    {
      href: 'services/service-img-6.jpg',
      title: 'Лифтинг лица',
      desc: 'Такая общая формулировка подразумевает глобальную цель – омоложение ...'
    },
    {
      href: 'services/service-img-7.jpg',
      title: 'Нитевой лифтинг Aptos',
      desc: 'Современный метод безоперационной подтяжки кожи: процедура проходит ...'
    },
    {
      href: 'services/service-img-8.jpg',
      title: 'Нитевой лифтинг Silhouette Lift',
      desc: 'Все, что касается интимной части нашей жизни, обычно находится под грифом ...'
    },
    {
      href: 'services/service-img-9.jpg',
      title: 'Общая хирургия',
      desc: 'В эстетических целях иногда требуется применить классическую хирургию ...'
    },
    {
      href: 'services/service-img-10.jpg',
      title: 'Отопластика',
      desc: 'Самая частая причина для отопластики – лопоухость. Клиенты, недовольные ...'
    },
    {
      href: 'services/service-img-11.jpg',
      title: 'Подтяжка груди',
      desc: 'Мастопексия, медицинское название этой процедуры, является прекрасным ...'
    },
    {
      href: 'services/service-img-12.jpg',
      title: 'Ринопластика',
      desc: 'Эстетические дефекты носа часто оказываются последствиями травмы ...'
    },
    {
      href: 'services/service-img-13.jpg',
      title: 'Тредлифтинг',
      desc: 'Тредлифтинг - процедура, сочетающая в себе нитевую подтяжку и мезотерапию ...'
    },
    {
      href: 'services/service-img-14.jpg',
      title: 'Увеличение груди',
      desc: 'Мысли о гармоничной фигуре при выборе купальника, кружевного ...'
    },
    {
      href: 'services/service-img-15.jpg',
      title: 'Удаление груди',
      desc: 'Операция удаления грудной железы или мастэктомия, как правило, становится ...'
    },
    {
      href: 'services/service-img-16.jpg',
      title: 'Челюстно-лицевая хирургия',
      desc: 'Эстетические дефекты носа часто оказываются последствиями травмы ...'
    },
    {
      href: 'services/service-img-17.jpg',
      title: 'Уменьшение груди',
      desc: 'Лишний вес груди негативно сказывается на позвоночнике и может привести к ...'
    }
    
  ]

-
  var blog = [
    {
      href: 'blog/blog-image-1.jpg',
      title: 'Эффективная методика по устранению кругов под глазами',
      time: '11.01.2018',
      tags: ['Косметология']
    },
    {
      href: 'blog/blog-image-2.jpg',
      title: '4 простых правила, которые продлят молодость',
      time: '11.01.2018',
      tags: ['Косметология', 'Фигура', 'Секреты красоты']
    },
    {
      href: 'blog/blog-image-3.jpg',
      title: 'Все, что Вам нужно знать про тот самый лифтинг бровей',
      time: '11.01.2018',
      tags: ['Косметология']
    },
    {
      href: 'blog/blog-image-4.jpg',
      title: 'Косметика с пробиотиками. Почему эксперты советуют?',
      time: '11.01.2018',
      tags: ['Косметология']
    },
    {
      href: 'blog/blog-image-5.jpg',
      title: 'От проблемной до идеальной. Лазерный карбоновый пилинг творит чудеса с кожей',
      time: '11.01.2018',
      tags: ['Косметология']
    },
    {
      href: 'blog/blog-image-6.jpg',
      title: 'Сентиментальная проблема: почему появляется чувствительность кожи лица?',
      time: '11.01.2018',
      tags: ['Косметология', 'Секреты красоты']
    },
    {
      href: 'blog/blog-image-7.jpg',
      title: 'Эффективная методика по устранению кругов под глазами',
      time: '11.01.2018',
      tags: ['Косметология']
    },
    {
      href: 'blog/blog-image-8.jpg',
      title: '4 простых правила, которые продлят молодость',
      time: '11.01.2018',
      tags: ['Косметология', 'Фигура', 'Секреты красоты']
    },
    {
      href: 'blog/blog-image-9.jpg',
      title: 'Все, что Вам нужно знать про тот самый лифтинг бровей',
      time: '11.01.2018',
      tags: ['Косметология']
    }
  ]

- var menuBlog = ['Фигура', 'Косметология', {title: 'Мужское здоровье', active: true}, 'Уход за лицом', 'Стоматология', 'Уход за телом', 'Волосы', 'Секреты красоты', 'Anti-Age', 'Пластическая хирургия', 'Будущим мамам']