include blocks/head.pug
include sections/header.pug
include sections/header_page.pug
+header-page('about', 'О клинике', ['Главная', 'Клиника', 'О клинике'])
include sections/mission.pug
include sections/gallery-document.pug
include sections/advantages.pug
include sections/about.pug
include sections/footer.pug