include blocks/head.pug
include sections/header.pug
include sections/header_page.pug
+header-page('article', 'Косметика с пробиотиками. Почему эксперты советуют?', ['Главная', 'Блог'])

section.content
  .container
    p Пробиотики – это живые микроорганизмы, которые попадают в наш организм через продукты питания. Производители косметических средств для ухода за кожей решили также добавлять их в свои составы, так как считают их очень полезными. Специально внедренные в них бактерии позволяют восстанавливать кожу и активировать ее внутренние защитные функции.

    hr

    h3 Знаете ли Вы, что ...

    p Большинство beauty процедур связаны с микротравмами кожи. Даже несущественное повреждение кожи на глубину 2-4 мм может доставить массу хлопот, если не обеспечить хорошего ухода. Заживление может происходить не так быстро, как хотелось бы, да и к тому же могут остаться рубцы и другие отметины. Помимо желаемого результата от процедуры можно получить и нежелательный эффект. Чтобы этого не случилось, нужно использовать постпроцедурный регенерирующий крем или гель.

    figure.figure-col-2
      a.video-block(href='#!')
        img(src='img/content/img-5.jpg')

      a.video-block(href='#!')
        img(src='img/content/img-6.jpg')

    h3 Подготовка к операции

    p Как и всегда в эстетической хирургии, перед операцией совершенно необходимо проконсультироваться с хирургом и тщательно обсудить все желаемые изменения и провести стандартное обследование. Врач с учетом всех индивидуальных особенностей организма, возраста, перенесенных заболеваний принимает решение о методах проведения операции. Четкое следование врачебным рекомендациям в предоперационный период, снизит послеоперационные осложнения и будет способствовать заживлению.
    
    img(src='img/content/img-wide.jpg')

    hr

    h3 Подготовка к операции

    blockquote Мезотерапия – это процедура введения питательных и лечебных компонентов в толщу кожи. Проводится мезотерапия врачом- косметологом, специальным шприцем или мезороллером.

    p Как и всегда в эстетической хирургии, перед операцией совершенно необходимо проконсультироваться с хирургом и тщательно обсудить все желаемые изменения и провести стандартное обследование. Врач с учетом всех индивидуальных особенностей организма, возраста, перенесенных заболеваний принимает решение о методах проведения операции. Четкое следование врачебным рекомендациям в предоперационный период, снизит послеоперационные осложнения и будет способствовать заживлению.

section.page-nav
  a.link.link--arrow.link--arrow-left(href='#!') Предыдущая статья
  a.link.link--arrow(href='#!') Следующая статья

include sections/footer.pug