include blocks/head.pug
include sections/header.pug
include sections/header_page.pug
+header-page('before-after', 'До и после', ['Главная', 'Клиентам', 'До и после'])
+menu(menuTypeServe)
include sections/pacient-sec.pug
include sections/before-after-sec.pug
+callToActionSimple(callBeforeAfter)
include sections/footer.pug