include blocks/head.pug
include sections/header.pug
include sections/header_page.pug
+header-page('blog', 'Блог', ['Главная', 'Блог'])
+menu(menuBlog)
include sections/blog-sec.pug
include sections/footer.pug