include blocks/head.pug
include sections/header.pug
include sections/header_page.pug
+header-page('docs', 'Документы', ['Главная', 'Клиника', 'Документы'])
include sections/documents-sec.pug
include sections/footer.pug