include blocks/head.pug
include sections/header.pug
include sections/header_page.pug
+header-page('faq', 'Вопросы и ответы', ['Главная', 'Клиентам', 'Вопросы и ответы'])
include sections/faq.pug
include sections/footer.pug
