include blocks/head.pug
include sections/header.pug
include sections/hero.pug
include sections/advantages.pug
include sections/solution.pug
include sections/services.pug
include sections/about.pug
include sections/gallery.pug
include sections/footer.pug