include blocks/head.pug
include blocks/header.pug
include blocks/hero.pug
include blocks/advantages.pug
include blocks/solution.pug
include blocks/services.pug
include blocks/about.pug
include blocks/gallery.pug


include blocks/footer.pug