include blocks/head.pug
include blocks/header.pug
include blocks/hero.pug
include blocks/advantages.pug
include blocks/devider.pug
include blocks/solution.pug
include blocks/devider.pug
include blocks/services.pug
include blocks/devider.pug
include blocks/about.pug

include blocks/footer.pug