include blocks/head.pug
include sections/header.pug
include sections/header_page.pug
+header-page('jobs', 'Вакансии', ['Главная', 'Клиника', 'Вакансии'])
+menu(vacancys)
include sections/conditions.pug
include sections/call-to-action-simple.pug
include sections/footer.pug
