include blocks/head.pug
include sections/header.pug
include sections/hero.pug
include sections/problems.pug
include sections/effective-solution-sec.pug
include sections/advantages.pug
include sections/pacient-sec.pug
include sections/before-after-sec.pug
include sections/share-opinion.pug
+share-opinion(forms[2])
include sections/footer.pug