include blocks/head.pug
include sections/header.pug
include sections/hero-landing.pug
include sections/problems.pug
include sections/effective-solution-sec.pug
include sections/advantages-mixin.pug
+advantages(advantages, 'Почему мы?')(class='advantages--no-devider')
include sections/landing-hero.pug
include sections/presentation-sec.pug
include sections/landing-tariffs.pug
+advantages(credits, 'Даем рассрочку на лечение')
include sections/pacient-sec-landing.pug
include sections/before-after-sec.pug
include sections/reviews-sec.pug
include sections/share-opinion.pug
+share-opinion(forms[2])
include sections/footer.pug