include blocks/head.pug
include sections/header_page.pug
+header-page('docs', 'Модальные окна', ['Главная', 'Модальные окна'])

.form-shower.form-shower--bg-white
  .container


    button.btn(type='button' data-toggle='modal' data-target='#modal1')
      | Обратный звонок

    #modal1.modal.fade.modal--col-1.modal--leaf-1.modal--leaf-2
      .modal-dialog
        .modal-content
          button.close(data-dismiss='modal')

          .modal-body
            .container
              h2 Обратный звонок
              
              form(action='#')
                .row.no-gutters
                  .col-12
                    input.input-error(type='text' placeholder='Ваше имя ...')
                    input(type='text' placeholder='Контактный телефон ...')

                  .col-12
                    input(type='checkbox' id='checkbox')
                    label(for='checkbox') Я согласен на обработку персональных данных в порядке и на условиях, указанных по адресу www.newtech39.ru/personalinfo.pdf.

                  .col-12
                    button.btn(type='submit') Перезвоните мне

            .container.form-success 
              h2 Спасибо, Ваша заявка успешно отправлена
              p Мы рассмотрим вашу заявку и свяжемся с Вами в ближайшее время!
              button.btn(type='submit' data-dismiss='modal') Закрыть

    

    button.btn(type='button' data-toggle='modal' data-target='#modal2')
      | Задать вопрос

    #modal2.modal.fade.modal--col-2.modal--leaf-1.modal--leaf-3
      .modal-dialog
        .modal-content
          button.close(data-dismiss='modal')

          .modal-body
            .container
              h2 Задать вопрос
              
              form(action='#')
                .row.no-gutters
                  .col-12.col-md-6
                    input(type='text' placeholder='Ваше имя ...')
                    input(type='text' placeholder='Контактный телефон ...')
                    input(type='text' placeholder='Укажите email ...')

                  .col-12.col-md-6
                    textarea(type='text' placeholder='Текст Вашего сообщения ...')

                  .col-12.col-lg-10.offset-lg-1.text-left
                    input(type='checkbox' id='checkbox')
                    label(for='checkbox') Я согласен на обработку персональных данных в порядке и на условиях, указанных по адресу www.newtech39.ru/personalinfo.pdf.

                  .col-12.text-center
                    button.btn(type='submit') Перезвоните мне

            .container.form-success 
              h2 Спасибо, Ваша заявка успешно отправлена
              p Мы рассмотрим вашу заявку и свяжемся с Вами в ближайшее время!
              button.btn(type='submit' data-dismiss='modal') Закрыть

    button.btn(type='button' data-toggle='modal' data-target='#modal4')
      | Записаться на прием

    #modal4.modal.fade.modal--col-2.modal--leaf-1.modal--leaf-4
      .modal-dialog
        .modal-content
          button.close(data-dismiss='modal')

          .modal-body
            .container
              h2 Записаться на прием
              
              form(action='#')
                .row.no-gutters
                  .col-12.col-md-6
                    input(type='text' placeholder='Ваше имя ...')
                    input(type='text' placeholder='Контактный телефон ...')
                    input(type='text' placeholder='Укажите email ...')

                  .col-12.col-md-6
                    textarea(type='text' placeholder='Текст Вашего сообщения ...')

                  .col-12.col-lg-10.offset-lg-1.text-left
                    input(type='checkbox' id='checkbox')
                    label(for='checkbox') Я согласен на обработку персональных данных в порядке и на условиях, указанных по адресу www.newtech39.ru/personalinfo.pdf.

                  .col-12.text-center
                    button.btn(type='submit') Записаться на прием

            .container.form-success 
              h2 Спасибо, Ваша заявка успешно отправлена
              p Мы рассмотрим вашу заявку и свяжемся с Вами в ближайшее время!
              button.btn(type='submit' data-dismiss='modal') Закрыть


    button.btn(type='button' data-toggle='modal' data-target='#modal3')
      | Врач

    #modal3.modal.fade.modal--col-1
      .modal-dialog
        .modal-content
          button.close(data-dismiss='modal')

          .modal-body
            .container
            
              .employee-card
                .employee-card__img(style='background-image: url(img/team/team-photo-1.jpg)')
                .employee-card__info
                  h4 Вуйлов Максим
                  p Пластический хирург, челюстно-лицевой хирург
              
              ul.list.list--secondary-color
                li 1998 - 2004 – Новосибирская Государственный Медицинская Академия, Факультет: Лечебное дело.

                li 2004 - 2006 – Ординатура – Городская клиническая больница №12, кафедра пластической и восстановительной хирургии.

                li 2007 - 2014 – ГБУЗ НСО «Государственная Новосибирская областная клиническая больница», отделение челюстно-лицевой хирургии, врач челюстно-лицевой хирург.(сфера деятельности: оказание экстренной и плановой медицинской помощи)

                li 2008 - 2010 – Ординатура – Новосибирская государственная Областная клиническая больница, кафедра челюстно-лицевой хирургии. Специальность: врач челюстно-лицевой хирург.

                li 2012 - 2013 – Интернатура – Новосибирский Областной Онкологический диспансер, Новосибирская государственная Областная клиническая больница, кафедра онкологии. Специальность: онкология.

                li 2013 – Повышение квалификации по специальности «хирургия».

                li 2014 – Сертификационный курс «Теория и практика применения препарата Диспорт в эстетической медицине»

                li 2014 – Сертификационный курс по нитевым методам подтяжки APTOS.

                li 2014 – Калининградский военно-морской клинический госпиталь Балтийского флота, врач челюстно-лицевой хирург.

                li 2015 – Повышение квалификации по специальности «пластическая хирургия».

                li Апрель 2016 - липосакция и VASER 3D-липомоделирование, ALFREDO HOYOS, г. Москва

                li Октябрь 2016 - продвинутая эстетическая хирургия груди и тела. IV САНКТ-ПЕТЕРБУРГСКИЙ LIVE SURGERY COURSE 


include sections/footer.pug