include blocks/head.pug
include sections/header.pug
include sections/header_page.pug
+header-page('news', 'Новости клиники', ['Главная', 'Клиника', 'Новости'])
include sections/news-sec.pug
include sections/footer.pug