include blocks/head.pug
include sections/header.pug
include sections/header_page.pug
+header-page('photo-gallery', 'Фотогалерея', ['Главная', 'Клиника', 'Фотогалерея'])
include sections/slider-menu.pug
include sections/gallery-full.pug
include sections/footer.pug