include blocks/head.pug
include sections/header.pug
include sections/header_page.pug
+header-page('price', 'Цены', ['Главная', 'Клиентам', 'Цены'])
include sections/price_sec.pug
include sections/footer.pug