include blocks/head.pug
include sections/header.pug
include sections/header_page.pug
+header-page('reviews', 'Отзывы', ['Главная', 'Клиентам', 'Отзывы'])
include blocks/video-sources.pug
include sections/video-list-sec.pug
include sections/reviews-sec.pug
include sections/share-opinion.pug
+share-opinion(forms[1])
include sections/footer.pug