include blocks/head.pug
include sections/header.pug
include sections/header_page.pug
+header-page('service', 'Лифтинг лица', ['Главная', 'Услуги', 'Лифтинг лица'])

section.content
  .container
    h3 Описание услуги

    p Операция направленная на омоложение лица. В ходе операции происходит подтяжка кожи и глубоких структур лица и шеи. В арсенале хирурга имеется множество методик решения данной проблемы: открытая и эндоскопическая подтяжка, коррекция отдельных структур лица, малотравматичная коррекция нитями, комбинирование методик. Возможна масса вариантов по омоложению лица или коррекции каких-либо врождённых или приобретённых дефектов в каждом конкретном случае.

    figure
      img(src='img/content/img-1.jpg')
      img(src='img/content/img-2.jpg')
      img(src='img/content/img-3.jpg')
      img(src='img/content/img-4.jpg')

    h3 Подготовка к операции

    p Как и всегда в эстетической хирургии, перед операцией совершенно необходимо проконсультироваться с хирургом и тщательно обсудить все желаемые изменения и провести стандартное обследование. Врач с учетом всех индивидуальных особенностей организма, возраста, перенесенных заболеваний принимает решение о методах проведения операции. Четкое следование врачебным рекомендациям в предоперационный период, снизит послеоперационные осложнения и будет способствовать заживлению.

    hr

    ul
      li Клинический анализ крови, тромбоциты, формула нейтрофилов  Клинический анализ мочи
      li Биохимический анализ крови: общий белок, сахар
      li Коагулограмма
      li ЭКГ, и расшифровка
      li Флюорография
      li Группа крови, резус-фактор с лабораторным подтверждением
      li Заключение терапевта со сведениями о хронических заболеваниях  RW, HbsAg, HCV, ВИЧ
    
    hr

    h3 Обследование пациентов перед операцией:

    p При проведении подтяжки лица применяют чаще всего общий наркоз. Подтяжка отдельных зон лица может осуществляться под местной анестезией с внутривенной седацией (потенциированием).

    img(src='img/content/img-wide.jpg')

    h3 Проведение операции по подтяжке лица

    p При проведении круговой подтяжки лица схема расположения разрезов оговаривается до проведения операции и выбирается в зависимости от предпочтений врача и состояния лица клиента. Обычно разрез начинают в височной области, проводят его спереди уха по естественным складкам и завершают в заушной области – это позволяет сделать разрез менее заметным. В зависимости от объема операции осуществляется отслойка кожи и различные манипуляции с подкожными слоями — жировым и мышечным: резекция мышечной ткани, ее перемещение, пликация, аспирация жировой ткани и пр. После этого удаляются излишки кожи и накладываются косметические швы. При проведении эндоскопической подтяжки лица разрезы малозаметны и расположены обычно волосистой части головы, а операция проходит с использованием эндоскопической аппаратуры.

    hr

    h3 Определение рисков

    p Риски операции – минимальны, но следует строго выполнять все рекомендации хирурга в послеоперационном периоде. Сразу после операции пациент остается в стационаре на 2-3 дня. Послеоперационная отечность проходит в течение 2-3 недель. Через 10-12 дней можно приступать к повседневному образу жизни с соблюдением предписаний врачей. Через 2 месяца после операции можно оценивать результат подтяжки лица.

include sections/share-opinion.pug
+share-opinion(forms[1])(class='share-opinion--bg-main')

include sections/advantages.pug
include sections/footer.pug 