include blocks/head.pug
include sections/header.pug
include sections/header_page.pug
+header-page('services', 'Услуги', ['Главная', 'Услуги'])
+menu(menuTypeServe)
include sections/services_all.pug
include sections/footer.pug