include blocks/head.pug
include sections/header.pug
include sections/header_page.pug
+header-page('solutions', 'Эффективные решения', ['Главная', 'Решения'])
include sections/solutions-all-sec.pug
include sections/footer.pug