include blocks/head.pug
include sections/header.pug
include sections/header_page.pug
+header-page('team', 'Опытный и дружный персонал', ['Главная', 'Клиника', 'Коллектив'])
include sections/about.pug
include sections/team_sec.pug

#modal3.modal.fade.modal--col-1
      .modal-dialog
        .modal-content
          button.close(data-dismiss='modal')

          .modal-body
            .container
            
              .employee-card
                .employee-card__img(style='background-image: url(img/team/team-photo-1.jpg)')
                .employee-card__info
                  h4 Вуйлов Максим
                  p Пластический хирург, челюстно-лицевой хирург
              
              .employee-card__devider

              ul.list
                li 1998 - 2004 – Новосибирская Государственный Медицинская Академия, Факультет: Лечебное дело.

                li 2004 - 2006 – Ординатура – Городская клиническая больница №12, кафедра пластической и восстановительной хирургии.

                li 2007 - 2014 – ГБУЗ НСО «Государственная Новосибирская областная клиническая больница», отделение челюстно-лицевой хирургии, врач челюстно-лицевой хирург.(сфера деятельности: оказание экстренной и плановой медицинской помощи)

                li 2008 - 2010 – Ординатура – Новосибирская государственная Областная клиническая больница, кафедра челюстно-лицевой хирургии. Специальность: врач челюстно-лицевой хирург.

                li 2012 - 2013 – Интернатура – Новосибирский Областной Онкологический диспансер, Новосибирская государственная Областная клиническая больница, кафедра онкологии. Специальность: онкология.

                li 2013 – Повышение квалификации по специальности «хирургия».

                li 2014 – Сертификационный курс «Теория и практика применения препарата Диспорт в эстетической медицине»

                li 2014 – Сертификационный курс по нитевым методам подтяжки APTOS.

                li 2014 – Калининградский военно-морской клинический госпиталь Балтийского флота, врач челюстно-лицевой хирург.

                li 2015 – Повышение квалификации по специальности «пластическая хирургия».

                li Апрель 2016 - липосакция и VASER 3D-липомоделирование, ALFREDO HOYOS, г. Москва

                li Октябрь 2016 - продвинутая эстетическая хирургия груди и тела. IV САНКТ-ПЕТЕРБУРГСКИЙ LIVE SURGERY COURSE 


include sections/footer.pug