include blocks/head.pug
include sections/header.pug
include sections/header_page.pug
+header-page('team', 'Опытный и дружный персонал', ['Главная', 'Клиника', 'Коллектив'])
include sections/about.pug
include sections/team_sec.pug
include sections/footer.pug