include blocks/head.pug
include sections/header.pug
include sections/header_page.pug
+header-page('video-gallery', 'Видео', ['Главная', 'Клиника', 'Видео'])
include sections/video-gallery-sec.pug
include sections/footer.pug