section.about
  .container
    h2 О клинике
    .row
      .col-12.col-md-3.col-lg-4.text-center.text-md-right
        img.about__photo(src='img/about-photo.png')

      .col-12.col-md-9.col-lg-8
        .about__text
          p.about__desc.pr-0.pr-md-5= aboutText

          .d-flex.justify-space-between.flex-column.flex-md-row
            div
              p.about__name Смирнова Марина Владимировна
              p.about__post Генеральный директор клиники "Новые Технологии”

            div
              img(src='img/about-sign.jpg').about__sign