section.advantages
  .container
    //- .d-flex.flex-row.justify-content-between.flex-wrap
    .row
      each val in advantages 
        .col.advantages__item
          img(src='img/icons/' + val.href)
          p.advantages__title= val.title
          p.advantages__desc= val.desc