section.advantages
  .container
    .d-flex.flex-row.justify-content-between.flex-wrap
      each val in advantages 
        .advantages__item.text-center
          img(src='img/icons/' + val.href)
          p.advantages__title= val.title
          p.advantages__desc= val.desc