.before-after
  .container
    .row
      .col-12.col-md-6
        .before-after__img-wrap
          img(src="img/women-before-image.jpg")
          .before-after__badge До
      
      .col-12.col-md-6
        .before-after__img-wrap
          img(src="img/women-after-image.jpg")
          .before-after__badge После

    .row
      .col-12.col-md-6
        .before-after__specialist
          h4 Специалисты

          .d-flex.flex-row
            .before-after__specialist-img(style="background-image: url('img/team/team-photo-1.jpg')")
            .before-after__specialist-text
              a.link.link--blacked(href='#!') Игнатенко Алексей Александрович
              p Пластический хирург,<br> общий хирург

          .d-flex.flex-row
            .before-after__specialist-img(style="background-image: url('img/team/team-photo-1.jpg')")
            .before-after__specialist-text
              a.link.link--blacked(href='#!') Вуйлов Максим Владимирович
              p Пластический хирург,<br> челюстно-лицевой хирург
  
      .col-12.col-md-6
        .row
          .col-12.col-lg-6
            h4 Информация

            p Специалистами нашей клиники был сделан ряд операций по корректировки внешности пациента. 
            p В совокупности все операции заняли 1 месяц. Срок реабилитации пациент проходил в нашем стационаре, что заняло 2 недели.

          .col-12.col-lg-6.pl-lg-5
            h4 Что сделано

            ul.list
              li Увеличение объема губ
              li Коррекция формы носа
              li Коррекция формы скул с переломом челюсти