section.hero.hero-top.hero--landing-top
  .hero__slider(style='opacity:0')
    ul#landing-slider-top
        li
          .container
            img.hero__img(src=slides[0].href)
            h1.hero__title !{slides[0].title}
            p.hero__desc !{slides[0].desc}
            a.btn(href='#') Узнать больше

  .leaf-container
    .leaf.leaf--1
    .leaf.leaf--2
