section.tariffs-block
  .container
    h2 Решение на любой кошелек

    ul.tariffs-block__slider.row
      li.col-12.col-md-4.wow.bounceInLeft(data-wow-delay='.1s')
        .tariffs-block__item
          h3.tariffs-block__title Тариф “Аптекарь”

          ul.tariffs-block__list
            li Первичный осмотр 
            li Сдача анализов
            li Диагноз
            li Диета
            li Рецепт для аптеки

          p.tariffs-block__price от 5000 руб.

          a.tariffs-block__btn.btn(href='#!') Записаться

      li.col-12.col-md-4.wow.bounceInLeft(data-wow-delay='.3s')
        .tariffs-block__item
          h3.tariffs-block__title Тариф “Аптекарь”

          ul.tariffs-block__list
            li Первичный осмотр 
            li Сдача анализов
            li Диагноз
            li Диета
            li Рецепт для аптеки
            li Процедуры

          p.tariffs-block__price от 20 000 руб.

          a.tariffs-block__btn.btn(href='#!') Записаться

      li.col-12.col-md-4.wow.bounceInLeft(data-wow-delay='.5s')
        .tariffs-block__item
          h3.tariffs-block__title Тариф “Аптекарь”

          ul.tariffs-block__list
            li Первичный осмотр 
            li Сдача анализов
            li Диагноз
            li Диета
            li Рецепт для аптеки
            li Процедуры
            li Стационар
            li Контроль врача

          p.tariffs-block__price от 350 000 руб.

          a.tariffs-block__btn.btn(href='#!') Записаться

  p.text-center.mt-2.mt-md-4.mt-lg-5
    | Если не один их предложенных вариантов Вам не подходит, свяжитесь<br> с нами и мы подберем индивидуальное предложение специально для Вас.