section.hero.hero--landing
  .hero__slider
    ul#landing-slider
      li
        .container
          img.hero__img(src='img/slide-women-4.png')
          h1.hero__title Вы увидите результат<br> уже через неделю
          p.hero__desc Мы гарантируем Вам успешное<br> лечение Вашей проблемы.
          a.btn(href='#!') Записаться

  .leaf-container
    .leaf.leaf--1
    .leaf.leaf--2