.before-after-menu.before-after-menu--landing
  .slider-menu
    .container
      h2 Результаты лечения
      .slider-menu__wrap
        .slider-menu__slider
          
          +list-item(pacients[0])
          +list-item(pacients[1])
          +list-item(pacients[2])
        