div(style='display:none')#presentation
  video(preload='none').lg-video-object.lg-html5
    source(src='videos/video1.mp4' type='video/mp4')

.presentation
  .container
    h2 Презентация решения

    .presentation__video#video-presentation
      div(data-html='#presentation').presentation__item.video-block
        img(src='img/landing/presentation-poster.jpg')

      p.presentation__desc Мы разработали эффективное решение по комплексному лечению акне у подростков, основанное на базе наших знаний и опыта лечения. Нами был разработан комплексный и эффективный подход к лечению в виде нескольких пакетных предложений, которые вы можете использовать.