.problems
  .container
    h2 Ваши проблемы

    .row
      .col-12.col-md-5
        div(style="background: url('img/landing/problems-women.png')").problems__img
      .col-12.col-md-7
        ul.list.list--secondary-color
          li Избегаете общения с людьми из-за проблемы? 
          li Прыщи на лице портят вам жизнь?
          li Обычные средства из аптеки не помогают? 
          li Перепробовали все средства, проблема осталась... 
          li Зуд и жжение доставляют дискомфорт?