.reviews
  .container
    h2 Еще мнения

    each val in reviews
      .reviews__item
        .d-flex.flex-row.align-items-start
          div(style="background-image: url('img/reviews/" + val.href+ "')").reviews__img
          .reviews__text-wrap
            p.reviews__text= val.text
            p.reviews__name= val.name

    .reviews__btn 
      a(href='#!').link.link--arrow Показать еще