section.services
  h2.text-center Наши услуги
  .services__wrap
    .row
      each val in services 
          .services__item.col-12.col-md-6.col-xl-4
            .services__img(style="background-image: url('" +val.href+ "')")
              .services__text
                h3.services__title !{val.title}
                .services__text-hover
                  p.services__desc !{val.desc}
                  if !val.last
                    a.services__link.link(href='#').link--arrow.link--blacked.link--blacked--small Смотреть все услуги
                  else 
                    .services__link.btn.btn--outline.btn--white Узнать больше

  .services__btn
    a.link(href='#!').link--arrow Смотреть все услуги

  //- .leaf-container
  //-   .leaf.leaf--1