section.solution
  .container
    h2.text-center Эффективные решения
    .row
      each val in solution 
        .col-xl-3.col-lg-6.col-6.solution__item
          +list-item(val)(class='list-item--arrowed')
       
      .solution__btn.col-12
        a(href='#').btn Смотреть все решения