.video-gallery
  .container
    .news-list--wide-image
      each val in videoGallery
        +newsList(val)(class='news-list__item--wide-image')

    .video-gallery__btn.text-center
      a.link--arrow(href='#!') Показать еще